.footer-area {
  margin: 80px auto 42px auto;
  padding: 80px 0 0 0;
  width: 1248px;
  height: fit-content;
  position: relative;
  // divider
  &::before {
    content: " ";
    position: absolute;
    border-top: 1px solid var(--black-200);
    left: 0;
    right: 0;
    top: 0;
  }
}
.footer-content {
  width: auto;
  height: fit-content;
  margin: 0 24px 32px 24px;
  display: flex;
  .left-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3 {
      width: fit-content;
      font-family: "Asap", sans-serif;
      font-size: 36px;
      font-weight: 500;
      color: var(--black-700);
    }
    h4 {
      width: fit-content;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 28px;
      font-weight: 400;
      color: var(--black-600);
    }
  }
  .right-div {
    display: flex;
    width: 50%;
    justify-content: end;
    .title {
      width: fit-content;
      font-size: 22px;
      font-weight: 500;
      color: var(--black-600);
    }
    .email-item {
      font-family: "Asap", sans-serif;
      margin-right: 100px;
      .body {
        .email-link {
          font-size: 20px;
          color: var(--black-500);
          &:hover {
            color: var(--blue-dark);
            font-weight: 500;
          }
        }
        p {
          font-size: 18px;
          margin: 12px 0 0 0;
          color: var(--black-500);
        }
      }
    }
    .media-item {
      .icons {
        width: fit-content;
        margin-top: 26px;
        .behance {
          font-size: 23px;
          width: 40px;
          height: 40px;
          background-color: var(--black-500);
          border: transparent;
          border-radius: 50%;
          margin-right: 12px;
          i {
            text-decoration: none;
            color: var(--white);
          }
          &:hover {
            background-color: #0057ff;
            box-shadow: 2px 2px 5px rgba(28, 28, 28, 0.5);
          }
        }
        .github {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: transparent;
          background-image: url(/img/SVG/github.svg);
          background-position: center;
          background-size: 40px;
          a {
            font-size: 14px;
            color: transparent;
            border-radius: 50%;
          }
          &:hover {
            background-image: url(/img/SVG/github-hover.svg);
            box-shadow: 2px 2px 5px rgba(28, 28, 28, 0.5);
          }
        }
      }
    }
  }
}

.continuous-scroll {
  position: relative;
  margin: 0 0 32px 0;
  overflow: hidden;
  position: relative;
  .scroll {
    display: flex;
    width: 100%;
    background-color: var(--white);
    border: 1px solid var(--black-600);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      width: 20px;
      height: 100%;
      background-color: var(--black-600);
      left: 0;
    }
    div {
      font-family: "Asap", sans-serif;
      font-size: 60px;
      font-weight: 500;
      white-space: nowrap;
      color: var(--black-600);
      animation: animate 40s -40s linear infinite;
      will-change: transform;
      &:nth-child(2) {
        animation: animate2 40s -20s linear infinite;
      }
      span {
        font-family: "Source Code Pro", monospace;
        font-weight: 600;
      }
    }
  }
  // link
  a {
    position: absolute;
    top: 0;
    font-size: 60px;
    color: transparent;
    cursor: pointer;
    z-index: 1;
  }
  // 懸停
  &:hover .scroll div {
    color: var(--white);
  }
  &:hover .scroll {
    background-color: var(--black-600);
  }
}

.footer-last {
  height: fit-content;
  flex-wrap: nowrap;
  padding: 0 12px 0 12px;
  justify-content: space-between;
  .txt {
    font-family: "Asap", sans-serif;
    font-weight: 300;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--black-500);
    &:not(:last-child) {
      flex-basis: 136px;
    }
    &:nth-child(2) {
      text-align: center;
    }
  }
  .txt-2023 {
    max-width: 127px;
  }
  .BTT {
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: end;
    width: fit-content;
    cursor: pointer;
    .txt {
      width: fit-content;
    }
    .icon {
      margin-left: 8px;
      min-width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--black-500);
      position: relative;
      overflow: hidden;
      transition: 0.5s ease;
      .fa-arrow-up {
        color: var(--white);
        position: absolute;
        font-size: 16px;
        left: 25%;
        top: 15%;
      }
    }
    &:hover .txt {
      color: var(--black-600);
      font-weight: 500;
    }
    &:hover .icon {
      background-color: var(--black-600);
    }
    &:hover .icon .fa-arrow-up {
      animation: BTT 1.5s linear infinite;
    }
  }
}

// 跑馬燈動畫
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

// BTT動畫
@keyframes BTT {
  0% {
    top: 15%;
  }
  30% {
    top: 30%;
  }
  100% {
    top: -100%;
  }
}

//RWD
// xl - desktops / iapd(h)
@media screen and (max-width: 1399px) {
  .footer-area {
    width: 1164px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-area {
    width: 936px;
    .footer-content {
      .right-div {
        .email-item {
          margin-right: 42px;
        }
      }
    }
  }
}
// lg - ipad
@media screen and (max-width: 991px) {
  .footer-area {
    width: auto;
    margin: 60px 36px 32px 24px;
    padding: 60px 0 0 0;
    .footer-content {
      margin: 0 0 32px 0;
      .left-div {
        width: fit-content;
      }
      .right-div {
        width: fit-content;
        margin: 0 0 0 auto;
        .email-item {
          margin-right: 24px;
        }
      }
    }
  }
}
@media screen and (max-width: 899px) {
  .footer-area {
    .footer-content {
      .left-div {
        h3 {
          font-size: 34px;
        }
        h4 {
          font-size: 26px;
        }
      }
      .right-div {
        .title {
          font-size: 20px;
        }
        .email-item {
          margin-right: 16px;
          .body {
            .email-link {
              font-size: 18px;
            }
          }
        }
        .media-item {
          .icons {
            margin-top: 20px;
            .behance {
              font-size: 20px;
              width: 36px;
              height: 36px;
            }
            .github {
              width: 36px;
              height: 36px;
              background-size: 36px;
            }
          }
        }
      }
    }
    .continuous-scroll {
      .scroll {
        div {
          font-size: 56px;
        }
      }
      a {
        font-size: 56px;
      }
    }
    .footer-last {
      .txt {
        font-size: 16px;
      }
      .txt-2023 {
        max-width: 114px;
      }
      .BTT {
        .icon {
          min-width: 22px;
          height: 22px;
          .fa-arrow-up {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 820px) {
  .footer-area {
    .footer-content {
      .left-div {
        h4 {
          margin: 28px 0 0 0;
        }
      }
      .right-div {
        .email-item {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .footer-area {
    .footer-content {
      flex-direction: column;
      align-items: center;
      .left-div {
        order: 3;
        h3 {
          font-size: 32px;
          margin: 0 auto;
        }
        h4 {
          font-size: 24px;
          margin-top: 20px;
        }
      }
      .right-div {
        margin: 0 auto 24px auto;
        height: fit-content;
        border-bottom: 1px solid var(--black-300);
        padding-bottom: 24px;
        .media-item {
          .icons {
            margin: 0;
          }
          .title {
            display: none;
          }
        }
      }
    }
    .continuous-scroll {
      .scroll {
        border-radius: 8px;
        div {
          font-size: 52px;
        }
        &::before {
          width: 14px;
        }
      }
      a {
        font-size: 52px;
      }
    }
  }
}
@media screen and (max-width: 490px) {
  .footer-area {
    margin: 42px 12px 32px 12px;
    padding: 42px 0 0 0;
  }
}
@media screen and (max-width: 458px) {
  .footer-area {
    .footer-content {
      .left-div {
        h3 {
          font-size: 30px;
        }
        h4 {
          font-size: 22px;
          margin-top: 20px;
        }
      }
    }
    .continuous-scroll {
      .scroll {
        border-radius: 6px;
        div {
          font-size: 48px;
        }
      }
      a {
        font-size: 48px;
      }
    }
    .footer-last {
      .txt-love {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 356px) {
  .footer-area {
    .footer-content {
      margin-bottom: 24px;
      .left-div {
        h3 {
          font-size: 28px;
        }
        h4 {
          font-size: 20px;
          margin-top: 16px;
        }
      }
      .right-div {
        margin-bottom: 20px;
        padding-bottom: 20px;
        .media-item {
          .icons {
            .behance {
              font-size: 18px;
              width: 34px;
              height: 34px;
            }
            .github {
              width: 34px;
              height: 34px;
              background-size: 34px;
            }
          }
        }
      }
    }
    .continuous-scroll {
      margin-bottom: 24px;
      .scroll {
        div {
          font-size: 44px;
        }
      }
      a {
        font-size: 44px;
      }
    }
    .footer-last {
      .txt {
        font-size: 14px;
      }
      .BTT {
        .icon {
          min-width: 20px;
          height: 20px;
          .fa-arrow-up {
            top: 20%;
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 340px) {
  .footer-area {
    .footer-content {
      .left-div {
        h3 {
          font-size: 26px;
        }
        h4 {
          font-size: 18px;
        }
      }
    }
    .continuous-scroll {
      .scroll {
        div {
          font-size: 40px;
        }
      }
      a {
        font-size: 40px;
      }
    }
  }
}
