@charset "UTF-8";
.project-info .pj-headline .headline-typing::before {
  content: "Straywuo 浪窩";
}
.project-info .pj-body .body-typing::before {
  content: "{ 寵物領養協尋平台 }";
}

.forward-area .forward-wrapper .forword-img {
  height: 364px;
}

.hero-area .empathy-phase .second-research {
  width: 100%;
  margin: 80px 0;
}
.hero-area .empathy-phase .second-research .research-groups {
  margin-top: 42px;
}
.hero-area .empathy-phase .second-research .research-groups .research-content .search-card {
  border: 1px solid var(--black-500);
  border-radius: 10px;
}
.hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card {
  font-family: "Noto Sans TC", sans-serif;
  color: var(--black-500);
  padding: 32px;
  margin-right: 60px;
  width: 60%;
  min-height: 240px;
  height: -moz-fit-content;
  height: fit-content;
  word-break: break-all;
}
.hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card .search-title {
  font-weight: 600;
  margin-bottom: 24px;
  color: var(--black-600);
}
.hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card .search-txt {
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
}
.hero-area .empathy-phase .second-research .research-groups .research-content .search-img-card {
  width: 40%;
  height: auto;
  min-height: 234px;
  position: relative;
}
.hero-area .empathy-phase .second-research .research-groups .research-content .search-img-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card {
  position: relative;
}
.hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card::before {
  content: "2022年公立收容所前三超收狀況";
  position: absolute;
  background-color: var(--black-400);
  color: var(--white);
  font-size: 16px;
  line-height: 16px;
  padding: 12px 32px 12px 32px;
  word-break: keep-all;
  border-radius: 50px;
  transform: translateX(-50%);
  top: -20px;
  left: 50%;
}
.hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) {
  margin: 42px 0;
}
.hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-txt-card {
  margin: 0 0 0 60px;
  min-height: 250px;
}
.hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card {
  position: relative;
}
.hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card::before {
  content: "2019年家中貓犬來源調查";
  position: absolute;
  background-color: var(--black-400);
  color: var(--white);
  font-size: 16px;
  line-height: 16px;
  padding: 12px 32px 12px 32px;
  word-break: keep-all;
  border-radius: 50px;
  transform: translateX(-50%);
  top: -20px;
  left: 50%;
}
.hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(3) .search-txt-card {
  min-height: -moz-fit-content;
  min-height: fit-content;
}
.hero-area .ideate-phase .wireframe .full-img {
  background: url("/img/project/UIUX/Pet/wireframe.jpg") center/cover no-repeat;
}
.hero-area .design-phase {
  overflow-x: hidden;
}
.hero-area .design-phase .mockup .page {
  margin-top: 100px;
  justify-content: space-between;
}
.hero-area .design-phase .mockup .page .page-mockup-video {
  aspect-ratio: 16/10;
  width: 768px;
  margin: 0 0 0 -40px;
}
.hero-area .design-phase .mockup .page .page-mockup-video video {
  width: 100%;
  height: 100%;
}
.hero-area .design-phase .mockup .page .page-content {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 12px;
}
.hero-area .design-phase .mockup .page .page-content .page-mockup-img {
  aspect-ratio: 16/10;
  width: 464px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 5px 5px 10px rgba(136, 136, 136, 0.3);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.hero-area .design-phase .mockup .page .page-content .page-mockup-img img {
  width: 100%;
  height: 100%;
}
.hero-area .design-phase .mockup .page .page-content .page-info {
  width: 464px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-title {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 32px auto 16px 0;
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-title .title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black-600);
  margin: 0;
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon {
  margin-right: 16px;
  font-size: 20px;
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon i {
  margin: -2px;
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon i:nth-of-type(1) {
  color: var(--black-200);
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon i:nth-of-type(2) {
  color: var(--black-300);
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon i:nth-of-type(3) {
  color: var(--black-400);
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon i:nth-of-type(4) {
  color: var(--black-500);
}
.hero-area .design-phase .mockup .page .page-content .page-info .page-body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: var(--black-500);
}
.hero-area .design-phase .mockup .even-page .page-mockup-video {
  order: 2;
  margin: 0 -40px 0 0;
}
.hero-area .design-phase .mockup .even-page .page-content {
  padding: 0 0 0 0;
}
.hero-area .design-phase .mockup .even-page .page-content .page-info .page-title {
  margin: 32px 0 16px auto;
}
.hero-area .design-phase .mockup .even-page .page-content .page-info .page-title .arrow4-icon {
  order: 2;
  transform: rotate(180deg);
  margin: 0 0 0 16px;
}
.hero-area .design-phase .mockup .main-page {
  margin-top: 80px;
}
.hero-area .design-phase .mockup .prototype {
  margin-top: 100px;
}
.hero-area .design-phase .mockup .prototype .full-img {
  background: url(/img/project/UIUX/Pet/prototype.jpg) center/cover no-repeat;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteP {
  color: var(--black-500);
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteP .palette-first {
  background-color: #fee24f;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteP .palette-second {
  background-color: #fbc946;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteP .palette-third {
  background-color: #f8b23d;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteS {
  color: var(--white);
  position: absolute;
  top: 32px;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteS .palette-first {
  background-color: #67b0ed;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteS .palette-second {
  background-color: #2a82d8;
  color: var(--white);
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteS .palette-third {
  background-color: #2371c6;
}
.hero-area .design-phase .design-system .color-type-design .type-right #typetxtP {
  font-family: "Asap", sans-serif;
  line-height: 1;
  font-weight: 500;
}
.hero-area .design-phase .design-system .color-type-design .type-right #typetxtS {
  font-family: "GenJyuuGothicX";
  position: absolute;
  top: 26px;
}
.hero-area .design-phase .design-system .inner-shadow {
  border: none;
  padding: 0;
}
.hero-area .design-phase .design-system .inner-shadow .full-img {
  background: url(../../../img/project/UIUX/Pet/designSystem.jpg) center/cover no-repeat;
}

.pj-headline .headline-typing::before {
  animation: opacity0 2.8s, typingH 0.85s 2.8s;
}
.pj-headline .text-typing-block::before {
  animation: opacity0 2.8s, blink 1.15s 2.8s linear;
}
.pj-headline .headline-content {
  animation: opacity0 3.65s;
}

.pj-body .body-typing::before {
  animation: opacity0 3.65s, typingP 0.85s 3.65s;
}
.pj-body .text-typing-block::before {
  animation: opacity0 3.65s, blink 1.15s 3.65s linear;
}
.pj-body .body-content {
  animation: opacity0 4.5s;
}

.slide-wrapper {
  animation: opacity0 4.5s, slideInR 1s 4.5s;
}

.intro-area,
.forward-area {
  animation: opacity0 4.5s, fadeIn 1s 4.5s;
}

@keyframes typingH {
  0% {
    content: "S";
    color: var(--black-600);
  }
  11.1% {
    content: "St";
    color: var(--black-600);
  }
  22.2% {
    content: "Str";
    color: var(--black-600);
  }
  33.3% {
    content: "Stra";
    color: var(--black-600);
  }
  44.4% {
    content: "Stray";
    color: var(--black-600);
  }
  55.5% {
    content: "Strayw";
    color: var(--black-600);
  }
  66.6% {
    content: "Straywu";
    color: var(--black-600);
  }
  77.7% {
    content: "Straywuo";
    color: var(--black-600);
  }
  88.8% {
    content: "Straywuo 浪";
    color: var(--black-600);
  }
  99.9% {
    content: "Straywuo 浪窩";
    color: var(--black-600);
  }
}
@keyframes typingP {
  0% {
    content: "{ ";
    color: var(--black-600);
  }
  11.1% {
    content: "{ 寵";
    color: var(--black-600);
  }
  22.2% {
    content: "{ 寵物";
    color: var(--black-600);
  }
  33.3% {
    content: "{ 寵物領";
    color: var(--black-600);
  }
  44.4% {
    content: "{ 寵物領養";
    color: var(--black-600);
  }
  55.5% {
    content: "{ 寵物領養協";
    color: var(--black-600);
  }
  66.6% {
    content: "{ 寵物領養協尋";
    color: var(--black-600);
  }
  77.7% {
    content: "{ 寵物領養協尋平";
    color: var(--black-600);
  }
  88.8% {
    content: "{ 寵物領養協尋平台 ";
    color: var(--black-600);
  }
  99.9% {
    content: "{ 寵物領養協尋平台 }";
    color: var(--black-600);
  }
}
@keyframes blink {
  0%, 90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes BTTarrow {
  0% {
    top: 6px;
  }
  30% {
    top: 12px;
  }
  100% {
    top: -24px;
  }
}
@keyframes opacity0 {
  0%, 100% {
    opacity: 0;
  }
}
@keyframes slideInR {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1440px) {
  .forward-area .forward-wrapper .forword-img {
    height: 366px;
  }
}
@media screen and (max-width: 1399px) {
  .hero-area .design-phase .mockup .page .page-mockup-video {
    width: 720px;
    margin: 0 0 0 -36px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    width: 416px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info {
    width: 416px;
  }
  .hero-area .design-phase .mockup .even-page .page-mockup-video {
    margin: 0 -32px 0 0;
  }
}
@media screen and (max-width: 1280px) {
  .forward-area .forward-wrapper .forword-img img {
    width: 110%;
    -o-object-position: -28px -40px;
       object-position: -28px -40px;
  }
}
@media screen and (max-width: 1199px) {
  .forward-area .forward-wrapper .forword-img {
    height: 100%;
  }
  .forward-area .forward-wrapper .forword-img img {
    width: 115%;
    -o-object-position: -32px 0;
       object-position: -32px 0;
  }
  .hero-area .empathy-phase .process-card .info-card-content .txt-items .process-txt .br {
    display: none;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card {
    margin-right: 32px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img, .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    width: 102%;
    height: 102%;
    -o-object-position: -8px 50%;
       object-position: -8px 50%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-txt-card {
    margin: 0 0 0 32px;
  }
  .hero-area .design-phase .mockup .page .page-mockup-video {
    width: 608px;
    margin: 0 0 0 -30px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    width: 352px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info {
    width: 352px;
  }
  .hero-area .design-phase .mockup .even-page .page-mockup-video {
    margin: 0 -28px 0 0;
  }
}
@media screen and (max-width: 1112px) {
  .forward-area .forward-wrapper .forword-img img {
    -o-object-position: -48px 0;
       object-position: -48px 0;
  }
}
@media screen and (max-width: 991px) {
  .hero-area .empathy-phase .second-research {
    margin: 72px 0 0 0;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card {
    padding: 24px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card {
    height: auto;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img {
    width: 104%;
    height: 104%;
    -o-object-position: -14px 50%;
       object-position: -14px 50%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card {
    height: auto;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    width: 104%;
    height: 104%;
    -o-object-position: -14px 50%;
       object-position: -14px 50%;
  }
  .hero-area .empathy-phase .personas {
    margin-top: 60px;
  }
  .hero-area .design-phase {
    overflow-x: hidden;
  }
  .hero-area .design-phase .mockup .page {
    flex-direction: column;
    align-items: center;
  }
  .hero-area .design-phase .mockup .page .page-content {
    display: flex;
    margin: 0;
    width: 90%;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info {
    margin-left: 42px;
    width: 45%;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title {
    margin-top: 0;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    width: 55%;
  }
  .hero-area .design-phase .mockup .page .page-mockup-video {
    margin: 42px 0 0 0;
    width: 100%;
    position: relative;
  }
  .hero-area .design-phase .mockup .page .page-mockup-video video {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .hero-area .design-phase .mockup .odd-page .page-mockup-video {
    order: 2;
  }
  .hero-area .design-phase .mockup .even-page {
    align-items: center;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-info {
    margin: 0 42px 0 0;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-mockup-img {
    order: 2;
  }
}
@media screen and (max-width: 920px) {
  .hero-area .empathy-phase .personas-card:nth-of-type(1) .avatars img {
    -o-object-position: top 50% left 40%;
       object-position: top 50% left 40%;
  }
  .hero-area .empathy-phase .personas-card:nth-of-type(2) .avatars img {
    -o-object-position: top 50% left 42%;
       object-position: top 50% left 42%;
  }
}
@media screen and (max-width: 899px) {
  .hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card {
    margin-right: 24px;
    padding: 20px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card .search-title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card .search-txt {
    font-size: 16px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img {
    width: 104%;
    height: 104%;
    -o-object-position: -14px 50%;
       object-position: -14px 50%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card::before {
    padding: 10px 16px 10px 16px;
    font-size: 14px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) {
    margin: 32px 0;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    width: 102%;
    height: 102%;
    -o-object-position: -8px 50%;
       object-position: -8px 50%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card::before {
    padding: 10px 16px 10px 16px;
    font-size: 14px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-txt-card {
    margin-left: 24px;
  }
}
@media screen and (max-width: 820px) {
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img {
    width: 104%;
    height: 110%;
    -o-object-position: -12px 35%;
       object-position: -12px 35%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    width: 104%;
    height: 110%;
    -o-object-position: -12px 30%;
       object-position: -12px 30%;
  }
}
@media screen and (max-width: 780px) {
  .hero-area .empathy-phase .personas .pj-body .br {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hero-area .empathy-phase .second-research .research-groups {
    margin-top: 42px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card {
    width: 55%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card {
    width: 45%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img {
    width: 104%;
    height: 120%;
    -o-object-position: -12px 30%;
       object-position: -12px 30%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card {
    width: 45%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    width: 104%;
    height: 120%;
    -o-object-position: -14px 30%;
       object-position: -14px 30%;
  }
  .hero-area .design-phase .mockup .page .page-mockup-video {
    width: 110%;
    margin-left: -4px;
  }
  .hero-area .design-phase .mockup .page .page-content {
    width: 100%;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    width: 60%;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info {
    width: 40%;
  }
}
@media screen and (max-width: 670px) {
  .hero-area .empathy-phase .second-research .research-groups {
    margin-top: 32px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content {
    flex-direction: column;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content .search-txt-card {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 16px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card {
    margin: 36px 0 24px 0;
    width: 100%;
    height: 250px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img {
    height: 100%;
    width: 100%;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card::before {
    font-size: 16px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) {
    margin: 0;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-txt-card {
    margin: 0;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card {
    margin: 36px 0 24px 0;
    order: 2;
    width: 100%;
    height: 250px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    height: 100%;
    width: 100%;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card::before {
    font-size: 16px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img .modal-dialog .modal-body .modal-img .img {
    width: 95%;
  }
}
@media screen and (max-width: 640px) {
  .hero-area .design-phase .mockup .page {
    margin-top: 80px;
  }
  .hero-area .design-phase .mockup .page .page-mockup-video {
    margin: 0;
  }
  .hero-area .design-phase .mockup .page .page-content {
    order: 2;
    margin-top: 24px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    display: none;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info {
    width: auto;
    margin: 0;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title {
    margin: 0 auto 16px auto;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title .title {
    margin-right: 12px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon {
    transform: rotate(90deg);
    order: 2;
    margin: 0;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon i {
    font-size: 14px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon i:nth-of-type(1), .hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon i:nth-of-type(3) {
    display: none;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-body {
    text-align: center;
    width: auto;
  }
  .hero-area .design-phase .mockup .main-page {
    margin-top: 60px;
  }
  .hero-area .design-phase .mockup .even-page .page-content {
    margin-top: 24px;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-info {
    margin: 0;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-info .page-title {
    margin: 0 auto 16px auto;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-info .page-title .arrow4-icon {
    transform: rotate(90deg);
    margin: 0;
  }
  .hero-area .design-phase .mockup .prototype {
    margin-top: 80px;
  }
}
@media screen and (max-width: 620px) {
  .hero-area .empathy-phase .personas .personas-card:nth-of-type(1) .avatars img {
    -o-object-position: 50% 30%;
       object-position: 50% 30%;
  }
  .hero-area .empathy-phase .personas .personas-card:nth-of-type(2) .avatars img {
    -o-object-position: 50% 35%;
       object-position: 50% 35%;
  }
}
@media screen and (max-width: 576px) {
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card {
    margin: 36px 0 24px 0;
    width: 100%;
    height: 220px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img {
    height: 98%;
    width: 100%;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card {
    margin: 36px 0 24px 0;
    order: 2;
    width: 100%;
    height: 220px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    height: 100%;
    width: 100%;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}
@media screen and (max-width: 490px) {
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card {
    padding: auto;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img {
    width: 95%;
    height: 95%;
    padding: 12px 0 0 24px;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    width: 95%;
    height: 95%;
    padding: 12px 0 0 24px;
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
}
@media screen and (max-width: 470px) {
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card {
    margin: 24px 0;
    height: 240px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card img {
    width: 98%;
    height: 98%;
    padding: 40px 0 0 0px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(1) .search-img-card::before {
    top: 12px;
    font-size: 14px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card {
    margin: 24px 0;
    height: 240px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card img {
    width: 98%;
    height: 98%;
    padding: 36px 0 0 0px;
  }
  .hero-area .empathy-phase .second-research .research-groups .research-content:nth-child(2) .search-img-card::before {
    top: 12px;
    font-size: 14px;
  }
  .hero-area .empathy-phase .personas-card .personas-content {
    height: -moz-fit-content;
    height: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .hero-area .empathy-phase .personas-card .personas-content .personas-body {
    margin: 12px;
  }
  .hero-area .empathy-phase .personas-card .personas-content .personas-point {
    display: none !important;
  }
  .hero-area .empathy-phase .personas-card .avatars {
    min-height: 160px;
    height: 160px;
  }
  .hero-area .design-phase .mockup .page {
    margin-top: 60px;
  }
  .hero-area .design-phase .mockup .main-page {
    margin-top: 42px;
  }
  .hero-area .design-phase .mockup .prototype {
    margin-top: 60px;
  }
}
@media screen and (max-width: 458px) {
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title {
    align-items: center;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title .title {
    font-size: 22px;
    margin-right: 8px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-info .page-title .arrow4-icon {
    margin-top: 4px;
  }
  .hero-area .design-phase .mockup .page .page-mockup-video {
    margin: 0 -12px 0 -14px;
  }
}/*# sourceMappingURL=straywuo.css.map */