@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap");
.hero-area .empathy-phase .personas .personas-card:nth-of-type(2) .avatars img {
  height: 115%;
  width: 115%;
  -o-object-position: top 50% left 75%;
     object-position: top 50% left 75%;
}
.hero-area .ideate-phase .wireframe .full-img {
  background: url("/img/project/UIUX/ArtFind/wireframe.jpg") center/cover no-repeat;
}
.hero-area .design-phase .prototype .full-img {
  background: url("/img/project/UIUX/ArtFind/prototype.jpg") center/cover no-repeat;
}
.hero-area .design-phase .mockup .page {
  position: relative;
}
.hero-area .design-phase .mockup .page .page-info {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 60px 0 120px;
}
.hero-area .design-phase .mockup .page .page-info .page-title {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 24px auto;
}
.hero-area .design-phase .mockup .page .page-info .page-title .title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--black-600);
  margin: 0;
}
.hero-area .design-phase .mockup .page .page-info .page-title .arrow4-icon {
  font-size: 20px;
  margin: 4px 0 0 16px;
}
.hero-area .design-phase .mockup .page .page-info .page-title .arrow4-icon i:nth-of-type(1) {
  color: var(--black-500);
}
.hero-area .design-phase .mockup .page .page-info .page-title .arrow4-icon i:nth-of-type(2) {
  color: var(--black-400);
}
.hero-area .design-phase .mockup .page .page-info .page-title .arrow4-icon i:nth-of-type(3) {
  color: var(--black-300);
}
.hero-area .design-phase .mockup .page .page-info .page-title .arrow4-icon i:nth-of-type(4) {
  color: var(--black-200);
}
.hero-area .design-phase .mockup .page .page-info .page-body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: var(--black-500);
}
.hero-area .design-phase .mockup .page .page-content {
  display: flex;
  align-items: end;
}
.hero-area .design-phase .mockup .page .page-content .page-mockup-video {
  width: 270px;
  height: 540px;
  margin-right: 32px;
  transition: 0.3s ease-in-out;
}
.hero-area .design-phase .mockup .page .page-content .page-mockup-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-area .design-phase .mockup .page .page-content .page-mockup-img {
  display: inline-block;
  width: 200px;
  height: 440px;
  box-shadow: 0 10px 20px rgba(136, 136, 136, 0.3);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.hero-area .design-phase .mockup .page .page-content .page-mockup-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-area .design-phase .mockup .odd-page {
  margin-top: 100px;
}
.hero-area .design-phase .mockup .even-page {
  margin-top: 100px;
  justify-content: end;
}
.hero-area .design-phase .mockup .even-page .page-info {
  order: 2;
  margin: 0 120px 0 60px;
}
.hero-area .design-phase .mockup .even-page .page-info .page-title .title {
  order: 1;
  margin-left: 16px;
}
.hero-area .design-phase .mockup .even-page .page-info .page-title .arrow4-icon {
  margin: 4px 0 0 0;
  transform: rotate(180deg);
}
.hero-area .design-phase .mockup .even-page .page-content .page-mockup-video {
  order: 2;
  margin: 0 0 0 32px;
}
.hero-area .design-phase .mockup .main-page {
  margin-top: 80px;
}
.hero-area .design-phase .design-system .system-img .full-img {
  background: url("/img/project/UIUX/ArtFind/designSystem.jpg") center/cover no-repeat;
}

.pj-headline .headline-typing::before {
  animation: opacity0 2.8s, typingH 0.75s 2.8s;
}
.pj-headline .text-typing-block::before {
  animation: opacity0 2.8s, blink 1.05s 2.8s linear;
}
.pj-headline .headline-content {
  animation: opacity0 3.55s;
}

.pj-body .body-typing::before {
  animation: opacity0 3.55s, typingP 1s 3.55s;
}
.pj-body .text-typing-block::before {
  animation: opacity0 3.55s, blink 1.3s 3.55s linear;
}
.pj-body .body-content {
  animation: opacity0 4.55s;
}

.slide-wrapper {
  animation: opacity0 4.55s, slideInR 1s 4.55s;
}

.intro-area,
.forward-area {
  animation: opacity0 4.55s, fadeIn 1s 4.55s;
}

@keyframes typingH {
  0% {
    content: "A";
    color: var(--black-600);
  }
  14.3% {
    content: "Ar";
    color: var(--black-600);
  }
  28.6% {
    content: "Art";
    color: var(--black-600);
  }
  42.9% {
    content: "Art_";
    color: var(--black-600);
  }
  57.2% {
    content: "Art_F";
    color: var(--black-600);
  }
  71.5% {
    content: "Art_Fi";
    color: var(--black-600);
  }
  85.8% {
    content: "Art_Fin";
    color: var(--black-600);
  }
  100% {
    content: "Art_Find";
    color: var(--black-600);
  }
}
@keyframes typingP {
  0% {
    content: "{";
    color: var(--black-600);
  }
  8.3% {
    content: "{ 尋";
    color: var(--black-600);
  }
  16.6% {
    content: "{ 尋覓";
    color: var(--black-600);
  }
  24.9% {
    content: "{ 尋覓藝";
    color: var(--black-600);
  }
  33.2% {
    content: "{ 尋覓藝文";
    color: var(--black-600);
  }
  41.5% {
    content: "{ 尋覓藝文展";
    color: var(--black-600);
  }
  49.8% {
    content: "{ 尋覓藝文展覽";
    color: var(--black-600);
  }
  58.1% {
    content: "{ 尋覓藝文展覽之";
    color: var(--black-600);
  }
  66.4% {
    content: "{ 尋覓藝文展覽之旅";
    color: var(--black-600);
  }
  74.7% {
    content: "{ 尋覓藝文展覽之旅 A";
    color: var(--black-600);
  }
  83% {
    content: "{ 尋覓藝文展覽之旅 AP";
    color: var(--black-600);
  }
  91.3% {
    content: "{ 尋覓藝文展覽之旅 APP";
    color: var(--black-600);
  }
  99.6% {
    content: "{ 尋覓藝文展覽之旅 APP }";
    color: var(--black-600);
  }
}
@keyframes blink {
  0%, 90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes opacity0 {
  0%, 100% {
    opacity: 0;
  }
}
@keyframes slideInR {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1399px) {
  .hero-area .design-phase .mockup .page .page-info {
    margin: 0 60px 0 80px;
  }
  .hero-area .design-phase .mockup .even-page .page-info {
    margin: 0 88px 0 60px;
  }
}
@media screen and (max-width: 1280px) {
  .forward-area .forward-wrapper .forword-img img {
    width: 110%;
    -o-object-position: -28px 50%;
       object-position: -28px 50%;
  }
}
@media screen and (max-width: 1199px) {
  .forward-area .forward-wrapper .forword-img img {
    width: 115%;
    -o-object-position: -100px 50%;
       object-position: -100px 50%;
  }
  .hero-area .design-phase .mockup .page .page-info {
    width: 234px;
    margin: 0 32px 0 68px;
  }
  .hero-area .design-phase .mockup .even-page .page-info {
    margin: 0 68px 0 32px;
  }
}
@media screen and (max-width: 991px) {
  .hero-area .design-phase .mockup .page {
    width: 100%;
    height: 540px;
    padding: 0;
    position: relative;
    justify-content: center;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-video {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    width: 200px;
    height: 440px;
    margin-left: 334px;
  }
  .hero-area .design-phase .mockup .page .page-info {
    width: 200px;
    margin: 0;
  }
  .hero-area .design-phase .mockup .even-page .page-info {
    width: 200px;
    margin: 0;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-mockup-video {
    margin: 0;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-mockup-img {
    margin: 0 334px 0 0;
  }
}
@media screen and (max-width: 899px) {
  .hero-area .empathy-phase .personas .personas-card:nth-of-type(1) .avatars img {
    -o-object-position: top 50% left 55%;
       object-position: top 50% left 55%;
  }
  .hero-area .design-phase .mockup .page {
    height: 486px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-video {
    width: 243px;
    height: 486px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    width: 176px;
    height: 386px;
    margin: 0 12px 0 299px;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-mockup-img {
    margin: 0 299px 0 12px;
  }
}
@media screen and (max-width: 782px) {
  .hero-area .empathy-phase .personas .pj-body .br {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .hero-area .design-phase .mockup .page {
    height: 450px;
    padding: 0;
    justify-content: space-between;
  }
  .hero-area .design-phase .mockup .page .page-content {
    justify-content: end;
    width: 50%;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-video {
    width: 225px;
    height: 450px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    width: 50%;
    height: auto;
    aspect-ratio: 114/250;
    margin: 0 4vw 0 0;
  }
  .hero-area .design-phase .mockup .page .page-info {
    width: 50%;
    padding-right: 136px;
  }
  .hero-area .design-phase .mockup .even-page .page-content {
    justify-content: start;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-mockup-img {
    margin: 0 0 0 4vw;
  }
  .hero-area .design-phase .mockup .even-page .page-info {
    width: 50%;
    padding: 0 0 0 136px;
  }
}
@media screen and (max-width: 699px) {
  .hero-area .empathy-phase .personas .personas-card:nth-of-type(2) .avatars img {
    -o-object-position: top 50% left 70%;
       object-position: top 50% left 70%;
  }
  .hero-area .design-phase .mockup .page {
    height: 400px;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-video {
    width: 200px;
    height: 400px;
  }
  .hero-area .design-phase .mockup .page .page-info {
    padding: 0 124px 0 0;
  }
  .hero-area .design-phase .mockup .page .page-info .page-title .arrow4-icon {
    margin-left: 8px;
  }
  .hero-area .design-phase .mockup .even-page .page-info {
    padding: 0 0 0 124px;
  }
  .hero-area .design-phase .mockup .even-page .page-info .page-title .title {
    margin-left: 8px;
  }
}
@media screen and (max-width: 640px) {
  .hero-area .design-phase .mockup .page {
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: column;
  }
  .hero-area .design-phase .mockup .page .page-info {
    width: 100%;
    margin: 24px 0 0 0;
    padding: 0;
    order: 2;
    align-items: center;
  }
  .hero-area .design-phase .mockup .page .page-info .page-title {
    margin: auto 0 16px 0;
  }
  .hero-area .design-phase .mockup .page .page-info .arrow4-icon {
    transform: rotate(-90deg);
    margin-top: 2px;
  }
  .hero-area .design-phase .mockup .page .page-info .arrow4-icon .fa-chevron-right {
    font-size: 14px;
  }
  .hero-area .design-phase .mockup .page .page-info .arrow4-icon .fa-chevron-right:nth-child(2), .hero-area .design-phase .mockup .page .page-info .arrow4-icon .fa-chevron-right:nth-child(4) {
    display: none;
  }
  .hero-area .design-phase .mockup .page .page-info .page-body {
    text-align: center;
  }
  .hero-area .design-phase .mockup .page .page-content {
    width: 90%;
    margin: 0 auto;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-video {
    position: relative;
    left: 0;
    transform: translateX(0);
    margin-right: 32px;
    aspect-ratio: 1/2;
    width: 55%;
    height: auto;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    width: 40%;
  }
  .hero-area .design-phase .mockup .odd-page {
    margin-top: 80px;
  }
  .hero-area .design-phase .mockup .even-page {
    margin-top: 80px;
  }
  .hero-area .design-phase .mockup .even-page .page-info {
    width: 100%;
    margin: 24px 0 0 0;
    padding: 0;
    order: 2;
  }
  .hero-area .design-phase .mockup .even-page .page-info .page-title .title {
    margin-left: 0;
  }
  .hero-area .design-phase .mockup .even-page .page-info .page-title .arrow4-icon {
    order: 2;
    transform: rotate(-90deg);
    margin-left: 4px;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-mockup-video {
    margin-left: 32px;
  }
  .hero-area .design-phase .mockup .even-page .page-content .page-mockup-img {
    order: 1;
  }
  .hero-area .design-phase .mockup .main-page {
    margin-top: 60px;
  }
  .hero-area .design-phase .mockup .prototype {
    margin-top: 80px;
  }
}
@media screen and (max-width: 620px) {
  .hero-area .empathy-phase .personas .personas-card:nth-of-type(2) .avatars img {
    min-width: 110%;
    padding-right: 24px;
  }
}
@media screen and (max-width: 470px) {
  .hero-area .empathy-phase .personas .personas-card:nth-of-type(2) .avatars img {
    padding-right: 12px;
    height: 100%;
  }
  .hero-area .design-phase .mockup .page .page-content {
    width: 100%;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-video {
    margin: 0 auto;
    width: 60%;
  }
  .hero-area .design-phase .mockup .page .page-content .page-mockup-img {
    display: none;
  }
  .hero-area .design-phase .mockup .odd-page,
  .hero-area .design-phase .mockup .even-page {
    margin-top: 60px;
  }
  .hero-area .design-phase .mockup .odd-page .page-content .page-mockup-video,
  .hero-area .design-phase .mockup .even-page .page-content .page-mockup-video {
    margin: 0 auto;
  }
  .hero-area .design-phase .mockup .main-page {
    margin-top: 42px;
  }
  .hero-area .design-phase .mockup .prototype {
    margin-top: 60px;
  }
}
@media screen and (max-width: 458px) {
  .hero-area .design-phase .mockup .page .page-info .page-title .title {
    font-size: 22px;
  }
  .hero-area .design-phase .mockup .page .page-info .page-title .arrow4-icon {
    margin: 4px 0 0 4px;
  }
}
@media screen and (max-width: 390px) {
  .hero-area .design-phase .mockup .page .page-content .page-mockup-video {
    width: 70%;
  }
}/*# sourceMappingURL=artFind.css.map */