* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
}

header {
  height: 144px;
}

// nav導覽列
.nav-area {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  font-family: "Asap", sans-serif;
  animation: opacity0 2s, fadeInDown 1s 2s;
}

.nav-menu {
  margin: 24px auto 0 auto;
  width: 1200px;
  height: 60px;
  border-radius: 100px;
  display: flex;
  position: relative;
  animation: 0.3s ease-in-out;
  z-index: 12;
  .nav-menu-left {
    display: flex;
    align-items: center;
    transition: 0.3s 0.1s ease;
    .menu-item-logo {
      text-decoration: none;
      color: var(--black-600);
      cursor: pointer;
      margin-right: 24px;
      h1 {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  .nav-menu-right {
    display: flex;
    justify-content: end;
    #menu-slider {
      display: none;
    }
    .menu-burger {
      width: 32px;
      height: 32px;
      cursor: pointer;
      position: absolute;
      top: 12px;
      right: -35%;
      opacity: 0;
      transition: 0.2s ease;
      .burger-icon {
        cursor: pointer;
        position: absolute;
        z-index: 5;
        top: 46%;
        left: 3px;
        width: 24px;
        height: 2px;
        background-color: var(--black-600);
        border-radius: 50px;
        transition: 0.5s ease;
        &::before {
          content: " ";
          position: absolute;
          width: 24px;
          height: 2px;
          transform: translateY(-8px);
          -webkit-transform: translateY(-8px);
          background-color: var(--black-600);
          border-radius: 50px;
          -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
        }
        &::after {
          content: " ";
          position: absolute;
          width: 24px;
          height: 2px;
          transform: translateY(8px);
          -webkit-transform: translateY(8px);
          background-color: var(--black-600);
          border-radius: 50px;
          -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
        }
      }
    }
    .menu-item {
      font-size: 18px;
      font-weight: 400;
      margin-top: auto;
      margin-bottom: auto;

      li {
        padding: 6px 12px;
        border-radius: 25px;
        a {
          text-decoration: none;
          color: var(--black-600);
        }
        // item 間距
        &:not(:first-child) {
          margin-left: 24px;
        }
        // hover效果
        &:hover {
          background-color: var(--black-200);
        }
      }
      .w--current {
        background-color: var(--black-600);
        a {
          color: var(--white);
        }
        // hover效果
        &:hover {
          background-color: var(--black-600);
        }
      }
    }
    .media-item {
      display: none;
    }
    .menu-mask {
      position: absolute;
      top: 0;
      left: 0;
      height: 60px;
      background-color: var(--black-600);
      border-radius: 100%;
      background-color: rgba(217, 217, 217, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 50px;
      box-shadow: 0 3px 5px rgba(136, 136, 136, 0.2);
      display: none;
      transition: 0.3s ease;
    }
  }
}
.navitem-contact {
  font-size: 18px;
  font-weight: 500;
  color: var(--black-600);
  border: 1.5px solid var(--black-600);
  border-radius: 25px;
  padding: 6px 20px 6px 32px;
  height: fit-content;
  position: relative;
  transition: 0.3s ease-in-out;
  .call-link {
    text-decoration: none;
    color: var(--black-600);
    .call-current {
      position: relative;
      opacity: 1;
      visibility: visible;
      transition: 0.2s ease;
      &::before {
        content: " ";
        position: absolute;
        top: 5px;
        left: -22px;
        width: 16px;
        height: 16px;
        background-color: var(--yellow-light);
        border-radius: 50%;
        border: 2px solid var(--white);
      }
    }
    .call-hover {
      position: absolute;
      left: 10px;
      opacity: 0;
      visibility: hidden;
      .fa-face-smile-wink {
        margin-right: 6px;
        background-color: var(--yellow-light);
        border-radius: 50%;
      }
    }
  }
  &:hover .call-current {
    opacity: 0;
    visibility: hidden;
  }
  &:hover .call-hover {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    background-color: var(--white);
  }
}
.nav-background {
  position: absolute;
  top: 0;
  left: 66px;
  right: 52px;
  z-index: 10;
  height: 60px;
  margin-top: 24px;
  background-color: rgba(217, 217, 217, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 100px;
  box-shadow: 0 3px 5px rgba(136, 136, 136, 0.3);
  opacity: 0;
  transition: 0.3s ease;
}

// project nav
.nav-second {
  position: absolute;
  height: 60px;
  top: 24px;
  left: 80px;
  right: 68px;
  border-radius: 100px;
  padding-left: 12px;
  padding-right: 12px;
  z-index: 13;
  overflow: hidden;
  display: flex;
  .nav-second-left {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
    a {
      text-decoration: none;
      width: 100%;
      padding-left: 24px;
      position: relative;
      color: var(--black-600);
      i {
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 40%;
        transition: 0.3s ease;
      }
      p {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 18px;
        line-height: 60px;
        display: block;
        opacity: 1;
      }
      &:hover p {
        color: var(--black-700);
        font-weight: 500;
      }
      &:hover i {
        animation: arrowmove 1.5s infinite;
      }
    }
  }
  .nav-second-middle {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    p {
      text-align: center;
      font-family: "Asap", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 62px;
      color: var(--black-600);
      display: block;
      margin: 0;
      .pj-name-CH {
        font-family: "Noto Sans TC", sans-serif;
      }
    }
    .pj-info {
      font-family: "Noto Sans TC", sans-serif;
      line-height: 60px;
      margin-bottom: 0;
      margin-left: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
  .nav-second-right {
    display: flex;
    align-self: center;
  }
}
.nav-project-background {
  position: absolute;
  top: 0;
  left: 66px;
  right: 52px;
  z-index: 11;
  height: 60px;
  margin-top: 24px;
  background-color: rgba(217, 217, 217, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 100px;
  box-shadow: 0 3px 5px rgba(136, 136, 136, 0.3);
}

.slideUp {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform 0.5s ease-out;
}
.slideDown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform 0.5s ease-out;
}

@keyframes opacity0 {
  0%,
  100% {
    opacity: 0;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
}

// RWD
@media screen and (max-width: 1399px) {
  .nav-menu {
    width: 1116px;
  }
  .nav-background {
    left: 20px;
    right: 4px;
  }
  .nav-second {
    left: 32px;
    right: 16px;
  }
  .nav-project-background {
    left: 20px;
    right: 4px;
  }
}
@media screen and (max-width: 1199px) {
  .nav-menu {
    width: 936px;
  }
  .nav-background {
    left: 20px;
    right: 4px;
  }
}

@media screen and (max-width: 991px) {
  .nav-area {
    padding: 0 24px 0 24px;
  }
  .nav-menu {
    width: auto;
  }
  .nav-background {
    left: 0px;
    right: 0px;
    margin: 24px 20px 0 24px;
  }
  .nav-second {
    left: 36px;
    right: 36px;
  }
  .nav-project-background {
    left: 24px;
    right: 20px;
  }
}
@media screen and (max-width: 830px) {
  #nav-middle-txt {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  header {
    .nav-area {
      .nav-menu {
        .nav-menu-left {
          .menu-item-logo {
            margin-right: 16px;
          }
        }
        .nav-menu-right {
          align-items: center;
          // draw-burger
          .menu-burger {
            position: absolute;
            top: 14px;
            right: 24px;
            opacity: 1;
          }
          // hide-menu-item
          .menu-item {
            li {
              display: none;
            }
          }
          // checked-animate
          #menu-slider {
            display: none;
            // burger
            &:checked ~ .menu-burger .burger-icon {
              width: 0;
            }
            &:checked ~ .menu-burger .burger-icon::before {
              transform: rotate(45deg) translate(0px);
              -webkit-transform: rotate(45deg) translate(0px);
              height: 2px;
            }
            &:checked ~ .menu-burger .burger-icon::after {
              transform: rotate(-45deg) translate(0px);
              -webkit-transform: rotate(-45deg) translate(0px);
              height: 2px;
            }
            // menu-item
            &:checked ~ .menu-item {
              z-index: 6;
              position: absolute;
              left: -12px;
            }
            &:checked ~ .menu-item li {
              animation: showlater 0.2s ease;
              display: inline;
              width: fit-content;
              margin-left: auto;
              margin-right: auto;
              position: relative;
              cursor: pointer;
              // 間距
              &:not(:first-child) {
                margin-left: 12px;
              }
            }
            // mask
            &:checked ~ .menu-mask {
              display: flex;
              right: -4px;
              transition: 0.3s ease;
            }
          }
        }
      }
    }
    .nav-second {
      left: 36px;
      right: 36px;
    }
  }
  .nav-second {
    padding: 0 12px 0 12px;
    .nav-second-middle {
      p {
        &:first-child {
          min-width: fit-content;
          margin-left: auto;
        }
        &:last-child {
          margin-right: auto;
        }
      }
    }
  }
  #nav-middle-txt {
    max-width: 250px;
  }
}
@media screen and (max-width: 720px) {
  #nav-middle-txt {
    max-width: 220px;
  }
}
@media screen and (max-width: 699px) {
  #nav-middle-txt {
    max-width: 180px;
  }
}
@media screen and (max-width: 640px) {
  .nav-second {
    .nav-second-left {
      width: 40px;
    }
    .nav-second-middle {
      margin-right: 0;
    }
  }
  #backToHome-txt {
    opacity: 0;
  }
}

@media screen and (max-width: 576px) {
  .nav-second {
    .nav-second-right {
      .navitem-contact {
        margin-left: 0;
        font-size: 16px;
        padding: 4px 16px 4px 28px;
        .call-link {
          .call-current {
            &::before {
              width: 14px;
              height: 14px;
              left: -20px;
            }
          }
        }
      }
    }
    .nav-second-middle {
      p {
        font-size: 16px;
      }
    }
  }
  #nav-middle-txt {
    max-width: 130px;
  }
}
@media screen and (max-width: 490px) {
  header {
    .nav-area {
      padding: 0 12px;
      .nav-menu {
        padding: 0 0 0 24px;
        .nav-menu-right {
          #menu-slider {
            &:checked ~ .menu-mask {
              right: 0;
            }
          }
        }
      }
    }
  }
  .nav-background {
    margin: 24px 12px 0 12px;
  }
  #nav-middle-txt,
  #nav-middle-title {
    display: none;
  }
  .nav-second {
    padding: 0;
    .nav-second-left {
      width: 76px;
      a {
        p {
          font-size: 16px;
        }
      }
    }
  }
  .nav-project-background {
    left: 12px;
    right: 12px;
  }

  #backToHome-txt {
    opacity: 1;
  }
}
@media screen and (max-width: 458px) {
  header {
    .nav-area {
      .nav-menu {
        margin-left: -12px;
        .nav-menu-left {
          padding-left: 8px;
          .menu-item-logo {
            margin: 0;
            h1 {
              font-size: 20px;
            }
          }
        }
        .nav-menu-right {
          .menu-burger {
            width: 24px;
            height: 24px;
            top: 18px;
            right: 20px;
            .burger-icon {
              width: 16px;
              &::before {
                width: 16px;
                transform: translateY(-6px);
                -webkit-transform: translateY(-6px);
              }
              &::after {
                width: 16px;
                transform: translateY(6px);
                -webkit-transform: translateY(6px);
              }
            }
          }
          #menu-slider {
            &:checked ~ .menu-item {
              left: 0;
              li {
                a {
                  font-size: 16px;
                }
              }
            }
            &:checked ~ .menu-mask {
              left: 12px;
            }
          }
        }
      }
    }
  }
  .navitem-contact {
    margin-left: 12px;
    font-size: 16px;
    padding: 4px 16px 4px 28px;
    .call-link {
      .call-current {
        &::before {
          width: 14px;
          height: 14px;
          left: -20px;
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  header {
    .nav-area {
      .nav-menu {
        .nav-menu-left {
          .menu-item-logo {
            h1 {
              width: 56px;
              height: 26px;
              word-break: keep-all;
              overflow: hidden;
            }
          }
        }
        .nav-menu-right {
          #menu-slider {
            &:checked ~ .menu-item li {
              &:not(:first-child) {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes showlater {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrowmove {
  0% {
    left: 0px;
  }
  30% {
    left: 6px;
  }
  100% {
    left: -30px;
  }
}
