@charset "UTF-8";
.project-info .pj-headline .headline-typing::before {
  content: "Snake Game";
}
.project-info .pj-body .body-typing::before {
  content: "{ 復古貪食蛇遊戲 }";
}

.forward-area .forward-wrapper {
  max-width: 1440px;
  width: 1440px;
}

.pj-headline .headline-typing::before {
  animation: opacity0 2.8s, typingH 0.8s 2.8s;
}
.pj-headline .text-typing-block::before {
  animation: opacity0 2.8s, blink 1.1s 2.8s linear;
}
.pj-headline .headline-content {
  animation: opacity0 3.6s;
}

.pj-body .body-typing::before {
  animation: opacity0 3.6s, typingP 0.8s 3.6s;
}
.pj-body .text-typing-block::before {
  animation: opacity0 3.6s, blink 1.1s 3.6s linear;
}
.pj-body .body-content {
  animation: opacity0 4.4s;
}

.slide-wrapper {
  animation: opacity0 4.4s, slideInR 1s 4.4s;
}

.intro-area,
.takeaway-area {
  animation: opacity0 4.4s, fadeIn 1s 4.4s;
}

@keyframes typingH {
  0% {
    content: "S";
    color: var(--black-600);
  }
  12.5% {
    content: "Sn";
    color: var(--black-600);
  }
  25% {
    content: "Sna";
    color: var(--black-600);
  }
  37.5% {
    content: "Snak";
    color: var(--black-600);
  }
  50% {
    content: "Snake";
    color: var(--black-600);
  }
  62.5% {
    content: "Snake G";
    color: var(--black-600);
  }
  75% {
    content: "Snake Ga";
    color: var(--black-600);
  }
  87.5% {
    content: "Snake Gam";
    color: var(--black-600);
  }
  100% {
    content: "Snake Game";
    color: var(--black-600);
  }
}
@keyframes typingP {
  0% {
    content: "{";
    color: var(--black-600);
  }
  12.5% {
    content: "{ 復";
    color: var(--black-600);
  }
  25% {
    content: "{ 復古";
    color: var(--black-600);
  }
  37.5% {
    content: "{ 復古貪";
    color: var(--black-600);
  }
  50% {
    content: "{ 復古貪食";
    color: var(--black-600);
  }
  62.5% {
    content: "{ 復古貪食蛇";
    color: var(--black-600);
  }
  75% {
    content: "{ 復古貪食蛇遊";
    color: var(--black-600);
  }
  87.5% {
    content: "{ 復古貪食蛇遊戲";
    color: var(--black-600);
  }
  100% {
    content: "{ 復古貪食蛇遊戲 }";
    color: var(--black-600);
  }
}
@keyframes blink {
  0%, 90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes BTTarrow {
  0% {
    top: 6px;
  }
  30% {
    top: 12px;
  }
  100% {
    top: -24px;
  }
}
@keyframes opacity0 {
  0%, 100% {
    opacity: 0;
  }
}
@keyframes slideInR {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1920px) {
  .forward-area .forward-wrapper .forword-img {
    height: 366px;
    width: 366px;
  }
}
@media screen and (max-width: 1440px) {
  .forward-area .forward-wrapper {
    max-width: 1440px;
    width: 1440px;
  }
  .forward-area .forward-wrapper .forword-img {
    min-width: 300px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 1199px) {
  .forward-area .forward-wrapper .forword-img {
    min-width: 240px;
    width: 240px;
  }
  .forward-area .forward-wrapper .forword-img img {
    -o-object-position: -44px 50%;
       object-position: -44px 50%;
  }
}
@media screen and (max-width: 640px) {
  .intro-area .pj-info {
    flex-direction: column;
    position: relative;
  }
  .intro-area .pj-info .pj-sideinfo {
    max-width: 190px;
  }
  .intro-area .pj-info .pj-para {
    margin: 24px 0 0 0;
  }
  .intro-area .pj-info .pj-para .link-groups {
    left: 228px;
  }
}
@media screen and (max-width: 540px) {
  .intro-area .pj-info .pj-sideinfo ul li {
    flex-direction: row;
  }
}
@media screen and (max-width: 420px) {
  .intro-area .pj-info .pj-para .link-groups {
    left: 220px;
  }
  .intro-area .pj-info .pj-para .link-groups .pj-link {
    margin-right: 0;
  }
}
@media screen and (max-width: 390px) {
  .intro-area .pj-info .pj-sideinfo .info-card-content {
    margin: 10px;
    padding-left: 10px;
  }
  .intro-area .pj-info .pj-para .link-groups {
    left: 228px;
  }
}
@media screen and (max-width: 340px) {
  .intro-area .pj-info .pj-para .link-groups {
    left: 218px;
  }
}/*# sourceMappingURL=snakegame.css.map */