* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: var(--background-gray);
}

// arrowCircle + title
.info-card-title {
  display: flex;
  margin-top: 16px;
  .sideicon {
    width: 18px;
    height: 18px;
    background-color: var(--black-500);
    border-radius: 50px;
    margin: 2px 6px 0 16px;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      border-top: 7.5px solid var(--white);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      left: 5px;
      right: 5px;
      top: 6px;
    }
  }
  .card-title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 18px;
    color: var(--black-500);
  }
}
// title
.pj-title {
  font-family: "Asap", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--black-600);
  margin-bottom: 24px;
}
// subtitle
.pj-body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--black-500);
  line-height: 1.7;
  margin: 0;
}
.progress-bar {
  z-index: 49;
}

// headline
.project-info {
  .pj-headline {
    .headline-typing::before {
      content: "Snake Game";
    }
  }
  .pj-body {
    .body-typing {
      &::before {
        content: "{ 復古貪食蛇遊戲 }";
      }
    }
  }
}

// into-area
.intro-area {
  font-family: "Asap", sans-serif;
  padding: 68px 0 80px 0;
  width: 1200px;
  .pj-info {
    display: flex;
    justify-content: space-between;
    .pj-sideinfo {
      border: 1px solid var(--black-400);
      border-radius: 10px;
      min-width: fit-content;
      height: fit-content;
      display: block;
      ul {
        padding: 0;
        margin: 0;
        margin: 16px;
        border-left: 1.5px solid var(--black-300);
        padding-left: 12px;
        li {
          display: flex;
          font-size: 16px;
          font-weight: 400;
          .caption {
            font-family: "Asap", sans-serif;
            margin-right: 6px;
            margin-bottom: 0;
            line-height: 16px;
            color: var(--black-400);
          }
          .body {
            line-height: 16px;
            margin: 0;
            color: var(--black-500);
          }
          &:not(:first-child) {
            margin-top: 16px;
          }
        }
      }
    }
    .pj-para {
      margin: auto 0 auto 60px;
      p {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 18px;
        line-height: 1.7;
        color: var(--black-600);
        margin: 0;
      }
      .link-groups {
        margin-top: 16px;
        a {
          color: var(--blue-dark);
          margin-left: -2px;
        }
        .pj-link {
          color: var(--black-500);
          margin-right: 24px;
        }
        .code-link {
          color: var(--black-500);
          font-family: "Asap", sans-serif;
        }
      }
    }
  }
}

// take-away
.takeaway-area {
  padding: 80px 0 80px 0;
  background-color: var(--black-200);
  display: flex;
  justify-content: center;
  .takeaway-wrapper {
    max-width: 1920px;
    width: 100%;
    .takeaway-txt {
      margin: auto 60px auto 60px;
      width: 100%;
      height: fit-content;
      .pj-title {
        span {
          font-family: "Source Code Pro", monospace;
          font-weight: 600;
        }
      }
      .pj-body {
        margin-bottom: 24px;
      }
      .pj-txt {
        padding: 0;
        margin-bottom: 0;
        color: var(--black-500);
        li {
          .arrow-icon {
            min-width: 12px;
            height: 14px;
            border-left: 12px solid var(--black-500);
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            margin: 8px 8px 0 0;
          }
          .txt {
            font-family: "Noto Sans TC", sans-serif;
            line-height: 1.7;
            font-size: 18px;
            color: var(--black-500);
            margin: 0;
            width: 690px;
          }
          &:not(:first-child) {
            margin-top: 8px;
          }
        }
      }
    }
    .takeaway-img {
      min-width: 372px;
      height: 372px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// animate
.pj-headline {
  .headline-typing::before {
    animation: opacity0 2.8s, typingH 0.8s 2.8s;
  }
  .text-typing-block::before {
    animation: opacity0 2.8s, blink 1.1s 2.8s linear;
  }
  .headline-content {
    animation: opacity0 3.6s;
  }
}
.pj-body {
  .body-typing::before {
    animation: opacity0 3.6s, typingP 0.8s 3.6s;
  }
  .text-typing-block::before {
    animation: opacity0 3.6s, blink 1.1s 3.6s linear;
  }
  .body-content {
    animation: opacity0 4.4s;
  }
}
.slide-wrapper {
  animation: opacity0 4.4s, slideInR 1s 4.4s;
}
.intro-area,
.takeaway-area {
  animation: opacity0 4.4s, fadeIn 1s 4.4s;
}

// Typewriter effect
@keyframes typingH {
  0% {
    content: "S";
    color: var(--black-600);
  }
  12.5% {
    content: "Sn";
    color: var(--black-600);
  }
  25% {
    content: "Sna";
    color: var(--black-600);
  }
  37.5% {
    content: "Snak";
    color: var(--black-600);
  }
  50% {
    content: "Snake";
    color: var(--black-600);
  }
  62.5% {
    content: "Snake G";
    color: var(--black-600);
  }
  75% {
    content: "Snake Ga";
    color: var(--black-600);
  }
  87.5% {
    content: "Snake Gam";
    color: var(--black-600);
  }
  100% {
    content: "Snake Game";
    color: var(--black-600);
  }
  // Snake Game - 8
}
@keyframes typingP {
  0% {
    content: "{";
    color: var(--black-600);
  }
  12.5% {
    content: "{ 復";
    color: var(--black-600);
  }
  25% {
    content: "{ 復古";
    color: var(--black-600);
  }
  37.5% {
    content: "{ 復古貪";
    color: var(--black-600);
  }
  50% {
    content: "{ 復古貪食";
    color: var(--black-600);
  }
  62.5% {
    content: "{ 復古貪食蛇";
    color: var(--black-600);
  }
  75% {
    content: "{ 復古貪食蛇遊";
    color: var(--black-600);
  }
  87.5% {
    content: "{ 復古貪食蛇遊戲";
    color: var(--black-600);
  }
  100% {
    content: "{ 復古貪食蛇遊戲 }";
    color: var(--black-600);
  }
  // 復古貪食蛇遊戲 - 8
}
@keyframes blink {
  0%,
  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes BTTarrow {
  0% {
    top: 6px;
  }
  30% {
    top: 12px;
  }
  100% {
    top: -24px;
  }
}
@keyframes opacity0 {
  0%,
  100% {
    opacity: 0;
  }
}
@keyframes slideInR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

// RWD
// large screen
@media screen and (max-width: 1440px) {
  .takeaway-area {
    .takeaway-wrapper {
      .takeaway-img {
        min-width: 302px;
        height: 302px;
      }
    }
  }
}
@media screen and (max-width: 1399px) {
  .intro-area {
    width: 1116px;
  }
}

// X-large screen
@media screen and (max-width: 1199px) {
  .intro-area {
    width: 936px;
    .pj-info {
      .pj-para {
        margin: auto 0 auto 42px;
      }
    }
  }
  .takeaway-area {
    .takeaway-wrapper {
      .takeaway-txt {
        margin-left: 42px;
      }
    }
  }
}
@media screen and (max-width: 1115px) {
  .takeaway-area {
    .takeaway-wrapper {
      .takeaway-img {
        min-width: 260px;
        min-height: 100%;
        img {
          object-position: 60% 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 1030px) {
  .takeaway-area {
    .takeaway-wrapper {
      .takeaway-img {
        min-width: 120px;
        img {
          object-position: 80% 50%;
        }
      }
    }
  }
}

// large screen
@media screen and (max-width: 991px) {
  .intro-area {
    padding: 48px 36px 60px 24px;
    width: auto;
  }
  .takeaway-area {
    padding: 60px 36px 60px 24px;
    .takeaway-wrapper {
      .takeaway-txt {
        margin: 0;
      }
      .takeaway-img {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 899px) {
  .pj-title {
    font-size: 28px;
  }
  .pj-body {
    font-size: 16px;
  }
  .intro-area {
    .pj-info {
      .pj-sideinfo {
        .info-card-title {
          margin-top: 12px;
          .sideicon {
            width: 16px;
            height: 16px;
            margin-left: 10px;
            &::before {
              border-top: 6px solid var(--white);
              border-left: 3px solid transparent;
              border-right: 3px solid transparent;
              top: 5px;
            }
          }
          h5 {
            font-size: 16px;
            font-weight: 500;
          }
        }
        .info-card-content {
          margin: 12px;
          margin: 12px 10px 12px 10px;
          padding-left: 10px;
          li {
            p {
              font-size: 14px;
            }
            &:not(:first-child) {
              margin-top: 12px;
            }
          }
        }
      }
      .pj-para {
        margin-left: 32px;
        p {
          font-size: 16px;
        }
      }
    }
  }
  .takeaway-area {
    .takeaway-wrapper {
      .takeaway-txt {
        .pj-txt {
          li {
            .txt {
              font-size: 16px;
            }
            .arrow-icon {
              min-width: 10px;
              height: 12px;
              border-left: 10px solid var(--black-500);
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              margin: 8px 8px 0 0;
            }
          }
        }
      }
    }
  }
}

// Medium screen
@media screen and (max-width: 768px) {
  .intro-area {
    .pj-info {
      .pj-para {
        margin-left: 24px;
      }
    }
  }
  .takeaway-area {
    .takeaway-wrapper {
      .takeaway-txt {
        .pj-txt {
          li {
            .txt {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .intro-area {
    .pj-info {
      flex-direction: column;
      position: relative;
      .pj-sideinfo {
        max-width: 190px;
      }
      .pj-para {
        margin: 24px 0 0 0;
        .link-groups {
          flex-direction: column;
          margin: 0;
          position: absolute;
          top: 32px;
          left: 227px;
          .pj-link {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}

// small screen
@media screen and (max-width: 490px) {
  .intro-area {
    padding: 30px 12px 42px 12px;
    .pj-info {
      .pj-para {
        .link-groups {
          left: 227px;
        }
      }
    }
  }
  .takeaway-area {
    padding: 42px 12px;
  }
}
@media screen and (max-width: 458px) {
  .pj-title {
    font-size: 24px;
  }
}
@media screen and (max-width: 420px) {
  .intro-area {
    .pj-info {
      .pj-para {
        .link-groups {
          left: 219px;
          .pj-link {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .intro-area {
    .pj-info {
      .pj-para {
        .link-groups {
          left: 227px;
          span {
            display: none;
          }
          .pj-link {
            margin-right: 0;
            &::before {
              content: " ";
              display: inline-block;
              margin-right: 8px;
              width: 10px;
              height: 12px;
              border-left: 10px solid var(--black-500);
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
            }
          }
          .code-link {
            &::before {
              content: " ";
              display: inline-block;
              margin-right: 8px;
              width: 10px;
              height: 12px;
              border-left: 10px solid var(--black-500);
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 340px) {
  .intro-area {
    .pj-info {
      .pj-para {
        .link-groups {
          left: 217px;
          .pj-link::before {
            margin-right: 4px;
            width: 9px;
            height: 11px;
            border-left: 9px solid var(--black-500);
            border-top: 5.5px solid transparent;
            border-bottom: 5.5px solid transparent;
          }
          .code-link::before {
            margin-right: 4px;
            width: 9px;
            height: 11px;
            border-left: 9px solid var(--black-500);
            border-top: 5.5px solid transparent;
            border-bottom: 5.5px solid transparent;
          }
        }
      }
    }
  }
}
