:root {
  --star-orange: #ffa115;
  --metro-green: #009c77;
}

// headline
.project-info {
  .pj-headline {
    .headline-typing::before {
      content: "台北捷運Go";
      font-family: "Noto Sans TC", sans-serif;
    }
    .headline-content {
      font-family: "Noto Sans TC", sans-serif;
    }
  }
  .pj-body {
    .body-typing {
      &::before {
        content: "{ 交通資訊大平臺 APP }";
      }
    }
  }
}
.forward-area {
  .forward-wrapper {
    .forword-img {
      height: 364px;
    }
  }
}

.hero-area {
  .empathy-phase {
    .user-review {
      width: 100%;
      margin: 80px 0 0 0;
      .review-groups {
        margin-top: 32px;
        .review-content {
          .review-card {
            border: 1px solid var(--black-400);
            border-radius: 10px;
            font-family: "Noto Sans TC", sans-serif;
            color: var(--black-500);
            padding: 32px;
            width: fit-content;
            word-break: break-all;
            .review-title {
              font-size: 20px;
              font-weight: 600;
              margin-bottom: 8px;
              color: var(--black-600);
            }
            .star-icons {
              font-size: 18px;
              color: var(--star-orange);
              margin-bottom: 16px;
            }
            .review-txt {
              font-size: 18px;
              line-height: 1.7;
              margin: 0;
              strong {
                color: var(--black-600);
              }
            }
          }
          .odd-review-card {
            margin-right: 42px;
            max-width: 500px;
          }
          &:nth-of-type(1) {
            margin-bottom: 42px;
          }
        }
      }
    }
    .personas {
      .personas-card {
        .avatars {
          border-right: 0.5px solid var(--black-500);
        }
      }
    }
  }
  .wireframe {
    .full-img {
      background: url("../../../img/project/UIUX/Metro/Wireframe.jpg") center /
        cover no-repeat;
    }
  }
}
.mockup {
  margin: 80px 0 0 0;
  overflow-x: hidden;
  .pj-title,
  .pj-body {
    text-align: center;
  }
  .page {
    margin-top: 100px;
    .page-title {
      display: flex;
      width: fit-content;
      .title {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        color: var(--black-600);
        margin: 0;
      }
      .arrow4-icon {
        margin-left: 16px;
        font-size: 20px;
        i {
          margin: -2px;
          &:nth-of-type(1) {
            color: var(--black-500);
          }
          &:nth-of-type(2) {
            color: var(--black-400);
          }
          &:nth-of-type(3) {
            color: var(--black-300);
          }
          &:nth-of-type(4) {
            color: var(--black-200);
          }
        }
      }
      .page-body {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 16px;
        line-height: 1.7;
        color: var(--black-500);
      }
    }
    .page-img {
      position: relative;
      .img-modal {
        .modal-btn {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: none;
          background-color: transparent;
          z-index: 2;
        }
        .modal {
          padding: 0 !important;
          .modal-dialog {
            --bs-modal-bg: rgba(0, 0, 0, 0.6);
            overflow: hidden;
            width: 100%;
            .modal-header {
              border-bottom: none;
              padding-bottom: 0;
              .btn-close {
                font-size: 20px;
              }
            }
            .modal-body {
              position: relative;
              .modal-img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                margin: 0 auto;
                .img {
                  height: 95%;
                  width: 95%;
                  object-fit: contain;
                  object-position: 50% 50%;
                }
              }
              .mask-close {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: none;
              }
            }
          }
        }
      }
    }
  }
  .main-page {
    margin: 80px 0 0 0;
    .page-info {
      padding: 12px 10px;
      height: fit-content;
      background-color: var(--background-gray);
      border: 1px solid var(--black-400);
      border-radius: 10px;
      position: relative;
      &::before {
        content: "After";
        position: absolute;
        font-size: 18px;
        line-height: 18px;
        padding: 8px 24px;
        border-radius: 25px;
        background-color: var(--metro-green);
        color: var(--white);
        top: -56px;
        left: 50%;
        transform: translateX(-50%);
      }
      .page-txt {
        font-family: "Noto Sans TC", sans-serif;
        font-size: 16px;
        line-height: 1.7;
        color: var(--black-600);
        display: flex;
        flex-grow: 0;
        &::before {
          content: "1";
          display: block;
          font-family: "Source Code Pro", monospace;
          background-color: var(--metro-green);
          color: var(--white);
          min-width: 20px;
          height: 20px;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          border-radius: 50px;
          margin: 4px 6px 0 0;
        }
        &:nth-child(2) {
          margin: 24px 0;
          &::before {
            content: "2";
          }
        }
        &:nth-child(3)::before {
          content: "3";
        }
      }
    }
    .page-after {
      width: 50%;
      .page-wrapper {
        margin-left: auto;
        .page-title {
          margin: auto 0;
        }
        .page-info {
          width: 208px;
          margin: auto 36px 32px 0;
          box-shadow: 8px 8px rgba(136, 136, 136, 0.5);
        }
      }
      .page-after-img {
        height: 630px;
        margin-right: 32px;
        img {
          height: 100%;
        }
      }
    }
    .page-before {
      padding: 0 0 24px 0;
      background-color: var(--black-200);
      width: 50%;
      .page-before-img {
        height: 550px;
        margin: auto 0 0 48px;
        img {
          height: 100%;
        }
      }
      .page-info {
        margin: auto auto 0 32px;
        width: 233px;
        background-color: var(--black-200);
        &::before {
          content: "Before";
          padding: 8px 18px;
          background-color: var(--black-400);
        }
        .page-txt::before {
          background-color: var(--black-400);
        }
      }
    }
  }
  .tool-page {
    padding: 0;
    .page-title {
      width: 1200px;
      margin: 0 auto;
    }
    .badge {
      background-color: var(--black-400);
      font-size: 18px;
      font-weight: 400;
      padding: 8px 18px;
      border-radius: 25px;
      margin: 0;
    }
    .page-before {
      background-color: var(--black-200);
      padding: 24px;
      margin: 32px auto 0 auto;
      max-width: 1920px;
      .page-body {
        align-items: center;
        font-size: 16px;
        color: var(--black-600);
        z-index: 1;
        width: 1200px;
        margin: 0 auto;
        .page-txt {
          margin: 0 0 0 24px;
          padding: 6px 12px;
          background-color: var(--black-200);
          border: 1px solid var(--black-400);
          border-radius: 10px;
        }
      }
      .page-before-img {
        margin: 32px auto 0 auto;
        width: 1200px;
        background-color: var(--black-200);
        img {
          width: 100%;
        }
      }
    }
    .page-after {
      margin: 60px auto 0 auto;
      width: 1200px;
      .badge {
        padding: 8px 24px;
      }
      .after-wrapper {
        .page-after-img {
          height: 612px;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .page-body {
          margin: auto 0 auto 32px;
          padding: 0 8px 8px 0;
          .after {
            background-color: var(--metro-green);
            width: fit-content;
            display: block;
            margin: 0 auto;
          }
          .page-info {
            padding: 12px 10px;
            height: fit-content;
            background-color: var(--background-gray);
            border: 1px solid var(--black-400);
            border-radius: 10px;
            box-shadow: 8px 8px rgba(136, 136, 136, 0.5);
            width: 252px;
            margin-top: 24px;
            position: relative;
            .page-txt {
              font-family: "Noto Sans TC", sans-serif;
              font-size: 16px;
              line-height: 1.7;
              color: var(--black-600);
              display: flex;
              flex-grow: 0;
              margin-bottom: 24px;
              &::before {
                content: "1";
                display: block;
                font-family: "Source Code Pro", monospace;
                background-color: var(--metro-green);
                color: var(--white);
                min-width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 18px;
                text-align: center;
                border-radius: 50px;
                margin: 4px 6px 0 0;
              }
              &:nth-child(2)::before {
                content: "2";
              }
              &:nth-child(3)::before {
                content: "3";
              }
              &:nth-child(4) {
                margin: 0;
                &::before {
                  content: "4";
                }
              }
            }
          }
        }
      }
      .after-second {
        margin-top: 32px;
        .page-body {
          margin: auto 32px auto 0;
          .page-info {
            .page-txt {
              &:nth-child(1)::before {
                content: "5";
              }
              &:nth-child(2)::before {
                content: "6";
              }
              &:nth-child(3)::before {
                content: "7";
              }
              &:nth-child(4)::before {
                content: "8";
              }
            }
          }
        }
      }
      .page-mockup-video {
        height: 660px;
        width: fit-content;
        margin: 80px auto 0 auto;
        display: block;
        video {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
  .travelTicket-page,
  .trainMember-page {
    justify-content: center;
    height: fit-content;
  }
  .page-card {
    width: fit-content;
    .badge {
      display: block;
      width: fit-content;
      background-color: var(--black-400);
      font-size: 18px;
      font-weight: 400;
      padding: 8px 18px;
      border-radius: 25px;
      margin: 24px auto;
    }
    .page-info {
      font-family: "Noto Sans TC", sans-serif;
      border: 1px solid var(--black-400);
      font-size: 16px;
      text-align: center;
      line-height: 1.7;
      color: var(--black-500);
      background-color: var(--background-gray);
      border-radius: 10px;
      width: fit-content;
      padding: 10px;
      margin: 24px auto 0 auto;
    }
    .after-wrapper {
      .page-mockup-video {
        height: 484px;
        width: 242px;
        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      .badge {
        background-color: var(--metro-green);
        padding: 8px 24px;
        margin: 0 auto 28px auto;
      }
      .page-info {
        background-color: var(--white);
        font-weight: 400;
      }
    }
    .before-wrapper {
      margin-left: 16px;
      .page-title {
        margin: 0 auto;
        .arrow4-icon {
          margin-right: 16px;
          i {
            &:nth-of-type(1) {
              color: var(--black-200);
            }
            &:nth-of-type(2) {
              color: var(--black-300);
            }
            &:nth-of-type(3) {
              color: var(--black-400);
            }
            &:nth-of-type(4) {
              color: var(--black-500);
            }
          }
        }
      }
      .page-before-img {
        height: 436px;
        width: 208px;
        margin-right: -8px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .page-info {
        border: 1px solid var(--black-300);
      }
    }
  }
  .even-card {
    margin-left: 100px;
  }
}
// design-phase
.hero-area {
  margin-left: auto;
  margin-right: auto;
  .design-phase {
    margin-top: 0;
    .prototype {
      margin-top: 20px;
      padding-left: 0;
      padding-right: 0;
      .full-img {
        background: url("/img/project/UIUX/Metro/prototype.jpg") center / cover
          no-repeat;
      }
    }
    .design-system {
      overflow-x: hidden;
      .color-type-design {
        .color-left {
          #paletteP {
            color: var(--white);
            .palette-first {
              background-color: #39af37;
            }
            .palette-second {
              background-color: #009c77;
            }
            .palette-third {
              background-color: #008480;
            }
          }
          #paletteS {
            color: var(--white);
            position: absolute;
            top: 32px;
            .palette-first {
              background-color: #59a9db;
            }
            .palette-second {
              background-color: #017ab1;
              color: var(--white);
            }
            .palette-third {
              background-color: #004d79;
            }
          }
          // change
        }
        .type-right {
          .type-content {
            img {
              object-fit: cover;
            }
          }
          #typetxtS {
            position: absolute;
            top: 26px;
          }
        }
      }
      .system-img {
        .full-img {
          background: url("/img/project/UIUX/Metro/designSystem.png") center /
            cover no-repeat;
        }
      }
    }
  }
}

// animate
.pj-headline {
  .headline-typing::before {
    animation: opacity0 2.8s, typingH 0.7s 2.8s;
  }
  .text-typing-block::before {
    animation: opacity0 2.8s, blink 1s 2.8s linear;
  }
  .headline-content {
    animation: opacity0 3.5s;
  }
}
.pj-body {
  .body-typing::before {
    animation: opacity0 3.5s, typingP 0.95s 3.5s;
  }
  .text-typing-block::before {
    animation: opacity0 3.5s, blink 1.25s 3.5s linear;
  }
  .body-content {
    animation: opacity0 4.45s;
  }
}
.slide-wrapper {
  animation: opacity0 4.45s, slideInR 1s 4.45s;
}
.intro-area,
.forward-area {
  animation: opacity0 4.45s, fadeIn 1s 4.45s;
}

// Typewriter effect
@keyframes typingH {
  0% {
    content: "台";
    color: var(--black-600);
  }
  20% {
    content: "台北";
    color: var(--black-600);
  }
  40% {
    content: "台北捷";
    color: var(--black-600);
  }
  60% {
    content: "台北捷運";
    color: var(--black-600);
  }
  80% {
    content: "台北捷運G";
    color: var(--black-600);
  }
  100% {
    content: "台北捷運Go";
    color: var(--black-600);
  }
  // 台北捷運Go - 5
}
@keyframes typingP {
  0% {
    content: "{";
    color: var(--black-600);
  }
  9.09% {
    content: "{ 交";
    color: var(--black-600);
  }
  18.18% {
    content: "{ 交通";
    color: var(--black-600);
  }
  27.27% {
    content: "{ 交通資";
    color: var(--black-600);
  }
  36.36% {
    content: "{ 交通資訊";
    color: var(--black-600);
  }
  45.45% {
    content: "{ 交通資訊大";
    color: var(--black-600);
  }
  54.54% {
    content: "{ 交通資訊大平";
    color: var(--black-600);
  }
  63.63% {
    content: "{ 交通資訊大平臺";
    color: var(--black-600);
  }
  72.72% {
    content: "{ 交通資訊大平臺 A";
    color: var(--black-600);
  }
  81.81% {
    content: "{ 交通資訊大平臺 AP";
    color: var(--black-600);
  }
  90.9% {
    content: "{ 交通資訊大平臺 APP";
    color: var(--black-600);
  }
  99.99% {
    content: "{ 交通資訊大平臺 APP }";
    color: var(--black-600);
  }
  // 交通資訊大平臺 APP - 11
}
@keyframes blink {
  0%,
  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes BTTarrow {
  0% {
    top: 6px;
  }
  30% {
    top: 12px;
  }
  100% {
    top: -24px;
  }
}
@keyframes opacity0 {
  0%,
  100% {
    opacity: 0;
  }
}
@keyframes slideInR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

// RWD
@media screen and (max-width: 1440px) {
  .forward-area {
    .forward-wrapper {
      .forword-img {
        min-width: 336px;
        height: 336px;
      }
    }
  }
}
@media screen and (max-width: 1399px) {
  .hero-area {
    .empathy-phase {
      .user-review {
        .review-groups {
          .review-content {
            .odd-review-card {
              margin-right: 32px;
              max-width: 460px;
            }
          }
        }
      }
    }
  }
  .mockup {
    .main-page {
      .page-after {
        .page-after-img {
          margin-right: 16px;
          height: 588px;
        }
        .page-wrapper {
          .page-info {
            width: 210px;
            margin-right: 30px;
            margin-bottom: 20px;
          }
        }
      }
      .page-before {
        padding-bottom: 12px;
        .page-before-img {
          margin-left: 44px;
          height: 518px;
        }
        .page-info {
          width: 220px;
          margin-left: 24px;
        }
      }
    }
    .tool-page {
      .page-title {
        width: 1116px;
      }
      .page-before {
        .page-body {
          width: 1116px;
        }
        .page-before-img {
          width: 1116px;
        }
      }
      .page-after {
        width: 1116px;
        .after-wrapper {
          .page-after-img {
            height: 563px;
          }
          .page-body {
            margin-left: 24px;
          }
        }
        .after-second {
          .page-body {
            margin: auto 24px auto 0;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .forward-area {
    .forward-wrapper {
      .forword-img {
        min-width: 300px;
        img {
          width: 110%;
          object-position: 55% 50%;
        }
      }
    }
  }
  .hero-area {
    .empathy-phase {
      .personas {
        .personas-card {
          .avatars {
            height: auto;
            padding-left: 6px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .forward-area {
    .forward-wrapper {
      .forword-img {
        min-width: 240px;
        height: 100%;
      }
    }
  }
  .hero-area {
    .empathy-phase {
      .user-review {
        .review-groups {
          .review-content {
            &:nth-of-type(1) {
              .odd-review-card {
                width: 640px;
              }
            }
            .odd-review-card {
              margin-right: 24px;
            }
          }
        }
      }
      .personas {
        .personas-card {
          .avatars {
            display: flex;
            align-items: end;
            img {
              width: 95%;
              height: 95%;
            }
          }
        }
      }
    }
  }
  .mockup {
    .main-page {
      .page-before {
        .page-before-img {
          margin-left: 26px;
          height: 442px;
        }
        .page-info {
          width: 160px;
          margin-left: 24px;
        }
      }
      .page-after {
        width: 55%;
        .page-after-img {
          height: 534px;
        }
        .page-wrapper {
          .page-info {
            width: 180px;
            margin-right: 24px;
          }
        }
      }
    }
    .tool-page {
      .page-title {
        width: 936px;
      }
      .page-before {
        .page-body {
          width: 936px;
        }
        .page-before-img {
          width: 936px;
        }
      }
      .page-after {
        width: 936px;
        .after-wrapper {
          .page-body {
            .page-info {
              width: 170px;
            }
          }
          .page-after-img {
            height: 498px;
          }
        }
      }
    }
    .even-card {
      margin-left: 68px;
    }
    .page-card {
      .before-wrapper {
        .page-before-img {
          width: 200px;
          height: 420px;
        }
      }
      .after-wrapper {
        .page-mockup-video {
          height: 460px;
          width: 230px;
        }
        .badge {
          margin-bottom: 38px;
        }
      }
    }
  }
}
//
@media screen and (max-width: 991px) {
  .hero-area {
    margin-left: 24px;
    margin-right: 24px;
    .empathy-phase {
      .user-review {
        margin: 72px 0 -12px 0;
        .review-groups {
          .review-content {
            &:nth-of-type(1) {
              .odd-review-card {
                width: 600px;
              }
            }
            .review-card {
              padding: 24px;
            }
          }
        }
      }
    }
  }
  .mockup {
    width: auto;
    margin-top: 60px;
    overflow: hidden;
    .pj-body {
      margin: 0 24px;
    }
    .main-page {
      flex-direction: column;
      position: relative;
      margin-top: calc(24px + 30px + 80px);
      .page-before {
        width: auto;
        padding: 32px 0;
        .page-before-img {
          margin-left: auto;
          height: 450px;
        }
        .page-info {
          width: 230px;
          margin: auto auto auto 24px;
        }
      }
      .page-after {
        width: auto;
        order: 2;
        margin: 32px 0 0 0;
        .page-after-img {
          margin-right: auto;
        }
        .page-wrapper {
          .page-title {
            position: absolute;
            top: -54px;
            left: 50%;
            transform: translateX(-50%);
            .arrow4-icon {
              transform: rotate(90deg);
              margin: 0 8px;
              i {
                font-size: 16px;
                &:nth-of-type(2) {
                  display: none;
                }
                &:nth-of-type(4) {
                  display: none;
                }
              }
            }
          }
          .page-info {
            margin: auto 32px auto auto;
            width: 225px;
          }
        }
      }
    }
    .tool-page {
      .page-title {
        margin: 0 auto;
        width: fit-content;
        .arrow4-icon {
          transform: rotate(90deg);
          margin: 0 8px;
          i {
            font-size: 16px;
            &:nth-of-type(2) {
              display: none;
            }
            &:nth-of-type(4) {
              display: none;
            }
          }
        }
      }
      .page-before {
        margin: 32px 0 0 0;
        padding: 0;
        .page-body {
          margin: 0;
          padding: 32px 24px 0 24px;
        }
        .page-before-img {
          margin: 0;
          padding: 24px 24px 32px 24px;
          width: auto;
        }
      }
      .page-after {
        width: auto;
        margin-top: 32px;
        .after-wrapper {
          margin: 0 24px;
          flex-direction: column;
          .page-after-img {
            width: auto;
            height: fit-content;
            order: 2;
            margin-right: -8px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .page-body {
            margin: 0 0 24px 0;
            padding: 0;
            display: flex;
            align-items: center;
            .after {
              margin: auto 24px auto 0;
            }
            .page-info {
              width: auto;
              margin-top: 0;
              display: flex;
              flex-wrap: wrap;
              height: fit-content;
              box-shadow: none;
              .page-txt {
                height: fit-content;
                width: 48%;
                margin-bottom: 0;
                &:nth-of-type(3),
                &:nth-of-type(4) {
                  margin-top: 12px;
                }
                &:nth-of-type(2),
                &:nth-of-type(4) {
                  margin-left: 12px;
                }
              }
            }
          }
        }
        .after-second {
          margin-top: 32px;
        }
      }
    }
    .travelTicket-page {
      flex-direction: column;
      align-items: center;
    }
    .trainMember-page {
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
    }
    .page-card {
      align-items: end;
      .after-wrapper {
        .badge {
          margin-bottom: 32px;
        }
        .page-mockup-video {
          height: 484px;
          width: 242px;
        }
      }
      .before-wrapper {
        height: fit-content;
        .page-before-img {
          width: 208px;
          height: 436px;
        }
      }
    }
    .even-card {
      margin: 80px 0 0 0;
    }
  }
  .hero-area {
    .design-phase {
      .prototype {
        margin-top: 40px;
      }
    }
  }
}
@media screen and (max-width: 899px) {
  .hero-area {
    .empathy-phase {
      .user-review {
        .review-groups {
          .review-content {
            .review-card {
              padding: 16px;
              .review-title {
                font-size: 18px;
                margin-bottom: 6px;
              }
              .review-txt,
              .star-icons {
                font-size: 16px;
              }
            }
            &:nth-of-type(1) {
              margin-bottom: 24px;
              .odd-review-card {
                max-width: 300px;
              }
            }
            &:nth-of-type(2) {
              .odd-review-card {
                max-width: 380px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .mockup {
    .tool-page {
      .page-after {
        .after-wrapper {
          &:nth-of-type(2) {
            .page-body {
              .page-info {
                .page-txt::before {
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 780px) {
  .mockup {
    .tool-page {
      .page-before {
        .page-body {
          .page-txt {
            margin-left: 16px;
          }
        }
      }
      .page-after {
        .after-wrapper {
          .page-body {
            .after {
              margin: auto 16px auto 0;
            }
          }
        }
      }
    }
  }
}
//
@media screen and (max-width: 768px) {
  .hero-area {
    .empathy-phase {
      .user-review {
        .review-groups {
          .review-content {
            &:nth-of-type(1) {
              .odd-review-card {
                max-width: 280px;
              }
            }
            &:nth-of-type(2) {
              .odd-review-card {
                max-width: 300px;
              }
            }
          }
        }
      }
      .personas {
        .pj-body {
          .br {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 699px) {
  .hero-area {
    .empathy-phase {
      .user-review {
        .review-groups {
          .review-content {
            &:nth-of-type(2) {
              .odd-review-card {
                width: 480px;
              }
            }
          }
        }
      }
      .personas {
        .personas-card {
          .avatars {
            padding: 0;
            img {
              width: 90%;
              height: 90%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 670px) {
  .hero-area {
    .empathy-phase {
      .user-review {
        .review-groups {
          .review-content {
            flex-direction: column;
            &:nth-of-type(1) {
              margin-bottom: 24px;
              .odd-review-card {
                width: auto;
                margin: 0 0 24px 0;
              }
            }
            &:nth-of-type(2) {
              .odd-review-card {
                width: auto;
                margin: 0 0 24px 0;
              }
            }
            .odd-review-card {
              min-width: 100%;
              width: auto;
              margin-bottom: 24px;
            }
            .even-review-card {
              width: auto;
            }
            .review-card {
              .star-icons {
                margin-bottom: 12px;
              }
            }
          }
        }
      }
      .personas {
        .personas-card {
          position: relative;
          .avatars {
            min-width: 22%;
            img {
              width: 100%;
              height: 80%;
              margin: 0 0 28px 4px;
            }
          }
          .personas-content {
            .personas-body {
              padding-bottom: 41px;
            }
            .personas-point {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }
  .mockup {
    margin-top: 42px;
    .tool-page {
      .page-before {
        position: relative;
        display: flex;
        flex-direction: column;
        .page-body {
          flex-direction: column;
          align-items: start;
          width: auto;
          order: 2;
          padding: 0 24px 32px 24px;
          .badge {
            position: absolute;
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
          }
          .page-txt {
            margin: 0;
            width: 100%;
          }
        }
        .page-before-img {
          padding-top: calc(24px + 34px + 24px);
        }
      }
      .page-after {
        .after-first {
          .page-body {
            flex-direction: column;
            .badge {
              margin: 0 auto 24px auto;
            }
          }
        }
      }
    }
  }
  .hero-area {
    .design-phase {
      .prototype {
        margin-top: calc(100px - 60px);
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .mockup {
    .page {
      margin-top: 80px;
    }
    .main-page {
      margin-top: calc(24px + 30px + 60px);
      .page-before {
        padding: 24px 0;
      }
      .page-after {
        margin: 24px 0 0 0;
      }
    }
    .tool-page {
      .page-after {
        margin-top: 24px;
        .page-mockup-video {
          margin-top: 60px;
        }
      }
      .page-before {
        margin: 24px 0 0 0;
        .page-before-img {
          padding-bottom: 24px;
        }
        .page-body {
          padding-bottom: 24px;
        }
      }
    }
    .even-card {
      margin-top: 60px;
    }
    .trainMember-page {
      margin-top: 60px;
    }
    .page-card {
      .before-wrapper {
        .page-before-img {
          height: 414px;
          width: 197px;
        }
      }
      .after-wrapper {
        .page-mockup-video {
          height: 460px;
          width: 230px;
        }
      }
    }
  }
  .hero-area {
    .design-phase {
      .prototype {
        margin-top: calc(80px - 42px);
      }
    }
  }
}
@media screen and (max-width: 620px) {
  .hero-area {
    .empathy-phase {
      .personas {
        .personas-card {
          .avatars {
            min-width: 40%;
            height: 200px;
            border-right: none;
            margin: 0 auto;
            overflow: hidden;
            img {
              margin: 0;
              width: 40%;
              height: 100%;
              object-position: 50% 10%;
            }
          }
          .personas-content {
            min-height: fit-content;
            width: 100%;
            .personas-body {
              border-top: 1px solid var(--black-400);
              min-height: fit-content;
              margin: 0;
              ul {
                margin: 14px 16px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .mockup {
    .main-page {
      margin-top: 94px;
      .page-before {
        .page-before-img {
          height: 424px;
        }
        .page-info {
          width: 180px;
          margin-top: 80px;
        }
      }
      .page-after {
        .page-after-img {
          height: 468px;
        }
        .page-wrapper {
          .page-info {
            width: 180px;
            margin: 90px 32px auto 0;
          }
        }
      }
    }
    .tool-page {
      .page-after {
        .page-mockup-video {
          height: 600px;
        }
      }
    }
    .page-card {
      .before-wrapper {
        .page-before-img {
          height: 414px;
          width: 197px;
        }
      }
      .after-wrapper {
        .page-mockup-video {
          height: 460px;
          width: 230px;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .intro-area {
    .pj-info {
      .pj-sideinfo {
        width: fit-content;
        height: fit-content;
        .info-card-title {
          margin-right: 10px;
        }
        ul {
          li {
            flex-direction: column;
            .body {
              margin-top: 4px;
            }
            &:not(:first-child) {
              margin-top: 4px;
            }
          }
        }
      }
    }
  }
}
//
@media screen and (max-width: 490px) {
  .hero-area {
    margin-left: 12px;
    margin-right: 12px;
  }
  .mockup {
    padding: 0;
    overflow: hidden;
    .pj-body {
      margin: 0 12px;
    }
    .page {
      .page-img {
        .img-modal {
          .modal {
            .modal-dialog {
              .modal-header {
                padding: 12px;
                .btn-close {
                  font-size: 16px;
                }
              }
              .modal-body {
                padding: 12px;
                .modal-img {
                  .img {
                    height: 100%;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .main-page {
      .page-before {
        .page-info {
          width: 160px;
          margin-left: 12px;
        }
      }
      .page-after {
        .page-after-img {
          margin-left: 16px;
        }
        .page-wrapper {
          .page-info {
            width: 150px;
            box-shadow: none;
            margin: auto 0 6px auto;
          }
        }
      }
      .page-info {
        &::before {
          top: -48px;
        }
        .page-txt:nth-child(2) {
          margin: 16px 0;
        }
      }
    }
    .tool-page {
      width: auto;
      .page-before {
        .page-body {
          padding: 0 12px 24px 12px;
        }
        .page-before-img {
          padding: 82px 12px 24px 12px;
        }
      }
      .page-after {
        width: 100%;
        .after-wrapper {
          margin: 0 12px;
          .page-body {
            .page-info {
              flex-direction: column;
              width: 100%;
              .page-txt {
                width: 100%;
                &:nth-of-type(2),
                &:nth-of-type(4) {
                  margin: 12px 0 0 0;
                }
              }
            }
          }
          .page-after-img {
            margin: 0;
          }
        }
        .after-second {
          margin-top: 42px;
        }
      }
    }
    .page-card {
      .before-wrapper {
        height: auto;
        .badge {
          margin: 40px auto 24px auto;
        }
        .page-before-img {
          width: 190px;
          height: 398px;
        }
      }
    }
  }
}
@media screen and (max-width: 470px) {
  .hero-area {
    .empathy-phase {
      .personas {
        .personas-card {
          .personas-content {
            height: fit-content;
            .personas-point {
              display: none !important;
            }
            .personas-body {
              min-height: 120px;
              padding: 0;
              ul {
                margin: 12px;
              }
            }
          }
          .avatars {
            height: 160px;
          }
        }
      }
    }
  }
  .mockup {
    .main-page {
      .page-before {
        flex-direction: column;
        position: relative;
        &::before {
          content: "Before";
          font-size: 16px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          line-height: 16px;
          padding: 8px 18px;
          background-color: var(--black-400);
          color: var(--white);
          border-radius: 25px;
        }
        .page-before-img {
          margin: 56px auto 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 450px;
        }
        .page-info {
          width: auto;
          margin: 24px 12px 0 12px;
          &::before {
            display: none;
          }
          .page-txt:nth-child(2) {
            margin: 12px 0;
          }
        }
      }
      .page-after {
        flex-direction: column;
        .page-after-img {
          margin: 56px auto 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 500px;
          position: relative;
          &::before {
            content: "After";
            font-size: 16px;
            line-height: 16px;
            padding: 8px 24px;
            border-radius: 25px;
            width: fit-content;
            background-color: var(--metro-green);
            color: var(--white);
            position: absolute;
            top: -56px;
          }
        }
        .page-wrapper {
          order: 2;
          .page-info {
            width: auto;
            margin: 24px 12px 0 12px;
            &::before {
              display: none;
            }
            .page-txt:nth-child(2) {
              margin: 12px 0;
            }
          }
          .page-title {
            padding-left: 16px;
            top: -46px;
          }
        }
      }
    }
    .tool-page {
      .page-before {
        margin-top: 16px;
        .page-body {
          .badge {
            font-size: 16px;
          }
        }
      }
      .page-after {
        .after-wrapper {
          .page-body {
            .badge {
              font-size: 16px;
            }
          }
        }
      }
    }
    .page-card {
      flex-direction: column;
      .after-wrapper {
        order: 2;
        margin: 0 auto;
        .page-mockup-video {
          height: 484px;
          width: 242px;
        }
        .badge {
          margin-bottom: 24px;
          font-size: 16px;
        }
      }
      .before-wrapper {
        background-color: var(--black-200);
        width: 100vw;
        margin: 0 0 30px 0;
        padding: 24px 12px;
        display: flex;
        flex-direction: column;
        position: relative;
        .page-title {
          position: absolute;
          top: -46px;
          left: 50%;
          transform: translateX(-50%);
          margin-left: 16px;
          .arrow4-icon {
            transform: rotate(-90deg);
            order: 2;
            margin: 0 8px;
            i {
              font-size: 16px;
              &:nth-of-type(1) {
                display: none;
              }
              &:nth-of-type(3) {
                display: none;
              }
            }
          }
        }
        .badge {
          margin: 0 auto;
          font-size: 16px;
        }
        .page-before-img {
          margin: 24px auto 0 auto;
        }
      }
    }
    .travel-page,
    .ticket-page,
    .train-page,
    .member-page {
      margin-top: 126px;
    }
    .trainMember-page,
    .travelTicket-page {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 458px) {
  .mockup {
    .main-page {
      .page-after {
        .page-wrapper {
          .page-title {
            .title {
              font-size: 22px;
            }
            .arrow4-icon {
              i {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .tool-page {
      .page-title {
        .title {
          font-size: 22px;
        }
        .arrow4-icon {
          i {
            font-size: 14px;
          }
        }
      }
    }
    .page-card {
      .before-wrapper {
        .page-title {
          margin-left: 12px;
          .title {
            font-size: 22px;
          }
          .arrow4-icon {
            margin: 0 0 0 2px;
            i {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  .mockup {
    .tool-page {
      .page-after {
        .page-mockup-video {
          height: 500px;
        }
      }
    }
  }
}
@media screen and (max-width: 356px) {
  .intro-area {
    .pj-info {
      .pj-sideinfo {
        width: auto;
      }
    }
  }
  .mockup {
    .tool-page {
      .page-title {
        .arrow4-icon {
          display: none;
        }
      }
    }
  }
}
