@charset "UTF-8";
:root {
  --star-orange: #ffa115;
  --metro-green: #009c77;
}

.project-info .pj-headline .headline-typing::before {
  content: "台北捷運Go";
  font-family: "Noto Sans TC", sans-serif;
}
.project-info .pj-headline .headline-content {
  font-family: "Noto Sans TC", sans-serif;
}
.project-info .pj-body .body-typing::before {
  content: "{ 交通資訊大平臺 APP }";
}

.forward-area .forward-wrapper .forword-img {
  height: 364px;
}

.hero-area .empathy-phase .user-review {
  width: 100%;
  margin: 80px 0 0 0;
}
.hero-area .empathy-phase .user-review .review-groups {
  margin-top: 32px;
}
.hero-area .empathy-phase .user-review .review-groups .review-content .review-card {
  border: 1px solid var(--black-400);
  border-radius: 10px;
  font-family: "Noto Sans TC", sans-serif;
  color: var(--black-500);
  padding: 32px;
  width: -moz-fit-content;
  width: fit-content;
  word-break: break-all;
}
.hero-area .empathy-phase .user-review .review-groups .review-content .review-card .review-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--black-600);
}
.hero-area .empathy-phase .user-review .review-groups .review-content .review-card .star-icons {
  font-size: 18px;
  color: var(--star-orange);
  margin-bottom: 16px;
}
.hero-area .empathy-phase .user-review .review-groups .review-content .review-card .review-txt {
  font-size: 18px;
  line-height: 1.7;
  margin: 0;
}
.hero-area .empathy-phase .user-review .review-groups .review-content .review-card .review-txt strong {
  color: var(--black-600);
}
.hero-area .empathy-phase .user-review .review-groups .review-content .odd-review-card {
  margin-right: 42px;
  max-width: 500px;
}
.hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(1) {
  margin-bottom: 42px;
}
.hero-area .empathy-phase .personas .personas-card .avatars {
  border-right: 0.5px solid var(--black-500);
}
.hero-area .wireframe .full-img {
  background: url("../../../img/project/UIUX/Metro/Wireframe.jpg") center/cover no-repeat;
}

.mockup {
  margin: 80px 0 0 0;
  overflow-x: hidden;
}
.mockup .pj-title,
.mockup .pj-body {
  text-align: center;
}
.mockup .page {
  margin-top: 100px;
}
.mockup .page .page-title {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.mockup .page .page-title .title {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: var(--black-600);
  margin: 0;
}
.mockup .page .page-title .arrow4-icon {
  margin-left: 16px;
  font-size: 20px;
}
.mockup .page .page-title .arrow4-icon i {
  margin: -2px;
}
.mockup .page .page-title .arrow4-icon i:nth-of-type(1) {
  color: var(--black-500);
}
.mockup .page .page-title .arrow4-icon i:nth-of-type(2) {
  color: var(--black-400);
}
.mockup .page .page-title .arrow4-icon i:nth-of-type(3) {
  color: var(--black-300);
}
.mockup .page .page-title .arrow4-icon i:nth-of-type(4) {
  color: var(--black-200);
}
.mockup .page .page-title .page-body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: var(--black-500);
}
.mockup .page .page-img {
  position: relative;
}
.mockup .page .page-img .img-modal .modal-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.mockup .page .page-img .img-modal .modal {
  padding: 0 !important;
}
.mockup .page .page-img .img-modal .modal .modal-dialog {
  --bs-modal-bg: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 100%;
}
.mockup .page .page-img .img-modal .modal .modal-dialog .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}
.mockup .page .page-img .img-modal .modal .modal-dialog .modal-header .btn-close {
  font-size: 20px;
}
.mockup .page .page-img .img-modal .modal .modal-dialog .modal-body {
  position: relative;
}
.mockup .page .page-img .img-modal .modal .modal-dialog .modal-body .modal-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.mockup .page .page-img .img-modal .modal .modal-dialog .modal-body .modal-img .img {
  height: 95%;
  width: 95%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.mockup .page .page-img .img-modal .modal .modal-dialog .modal-body .mask-close {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}
.mockup .main-page {
  margin: 80px 0 0 0;
}
.mockup .main-page .page-info {
  padding: 12px 10px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--background-gray);
  border: 1px solid var(--black-400);
  border-radius: 10px;
  position: relative;
}
.mockup .main-page .page-info::before {
  content: "After";
  position: absolute;
  font-size: 18px;
  line-height: 18px;
  padding: 8px 24px;
  border-radius: 25px;
  background-color: var(--metro-green);
  color: var(--white);
  top: -56px;
  left: 50%;
  transform: translateX(-50%);
}
.mockup .main-page .page-info .page-txt {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: var(--black-600);
  display: flex;
  flex-grow: 0;
}
.mockup .main-page .page-info .page-txt::before {
  content: "1";
  display: block;
  font-family: "Source Code Pro", monospace;
  background-color: var(--metro-green);
  color: var(--white);
  min-width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 50px;
  margin: 4px 6px 0 0;
}
.mockup .main-page .page-info .page-txt:nth-child(2) {
  margin: 24px 0;
}
.mockup .main-page .page-info .page-txt:nth-child(2)::before {
  content: "2";
}
.mockup .main-page .page-info .page-txt:nth-child(3)::before {
  content: "3";
}
.mockup .main-page .page-after {
  width: 50%;
}
.mockup .main-page .page-after .page-wrapper {
  margin-left: auto;
}
.mockup .main-page .page-after .page-wrapper .page-title {
  margin: auto 0;
}
.mockup .main-page .page-after .page-wrapper .page-info {
  width: 208px;
  margin: auto 36px 32px 0;
  box-shadow: 8px 8px rgba(136, 136, 136, 0.5);
}
.mockup .main-page .page-after .page-after-img {
  height: 630px;
  margin-right: 32px;
}
.mockup .main-page .page-after .page-after-img img {
  height: 100%;
}
.mockup .main-page .page-before {
  padding: 0 0 24px 0;
  background-color: var(--black-200);
  width: 50%;
}
.mockup .main-page .page-before .page-before-img {
  height: 550px;
  margin: auto 0 0 48px;
}
.mockup .main-page .page-before .page-before-img img {
  height: 100%;
}
.mockup .main-page .page-before .page-info {
  margin: auto auto 0 32px;
  width: 233px;
  background-color: var(--black-200);
}
.mockup .main-page .page-before .page-info::before {
  content: "Before";
  padding: 8px 18px;
  background-color: var(--black-400);
}
.mockup .main-page .page-before .page-info .page-txt::before {
  background-color: var(--black-400);
}
.mockup .tool-page {
  padding: 0;
}
.mockup .tool-page .page-title {
  width: 1200px;
  margin: 0 auto;
}
.mockup .tool-page .badge {
  background-color: var(--black-400);
  font-size: 18px;
  font-weight: 400;
  padding: 8px 18px;
  border-radius: 25px;
  margin: 0;
}
.mockup .tool-page .page-before {
  background-color: var(--black-200);
  padding: 24px;
  margin: 32px auto 0 auto;
  max-width: 1920px;
}
.mockup .tool-page .page-before .page-body {
  align-items: center;
  font-size: 16px;
  color: var(--black-600);
  z-index: 1;
  width: 1200px;
  margin: 0 auto;
}
.mockup .tool-page .page-before .page-body .page-txt {
  margin: 0 0 0 24px;
  padding: 6px 12px;
  background-color: var(--black-200);
  border: 1px solid var(--black-400);
  border-radius: 10px;
}
.mockup .tool-page .page-before .page-before-img {
  margin: 32px auto 0 auto;
  width: 1200px;
  background-color: var(--black-200);
}
.mockup .tool-page .page-before .page-before-img img {
  width: 100%;
}
.mockup .tool-page .page-after {
  margin: 60px auto 0 auto;
  width: 1200px;
}
.mockup .tool-page .page-after .badge {
  padding: 8px 24px;
}
.mockup .tool-page .page-after .after-wrapper .page-after-img {
  height: 612px;
}
.mockup .tool-page .page-after .after-wrapper .page-after-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mockup .tool-page .page-after .after-wrapper .page-body {
  margin: auto 0 auto 32px;
  padding: 0 8px 8px 0;
}
.mockup .tool-page .page-after .after-wrapper .page-body .after {
  background-color: var(--metro-green);
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.mockup .tool-page .page-after .after-wrapper .page-body .page-info {
  padding: 12px 10px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--background-gray);
  border: 1px solid var(--black-400);
  border-radius: 10px;
  box-shadow: 8px 8px rgba(136, 136, 136, 0.5);
  width: 252px;
  margin-top: 24px;
  position: relative;
}
.mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: var(--black-600);
  display: flex;
  flex-grow: 0;
  margin-bottom: 24px;
}
.mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt::before {
  content: "1";
  display: block;
  font-family: "Source Code Pro", monospace;
  background-color: var(--metro-green);
  color: var(--white);
  min-width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  border-radius: 50px;
  margin: 4px 6px 0 0;
}
.mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-child(2)::before {
  content: "2";
}
.mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-child(3)::before {
  content: "3";
}
.mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-child(4) {
  margin: 0;
}
.mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-child(4)::before {
  content: "4";
}
.mockup .tool-page .page-after .after-second {
  margin-top: 32px;
}
.mockup .tool-page .page-after .after-second .page-body {
  margin: auto 32px auto 0;
}
.mockup .tool-page .page-after .after-second .page-body .page-info .page-txt:nth-child(1)::before {
  content: "5";
}
.mockup .tool-page .page-after .after-second .page-body .page-info .page-txt:nth-child(2)::before {
  content: "6";
}
.mockup .tool-page .page-after .after-second .page-body .page-info .page-txt:nth-child(3)::before {
  content: "7";
}
.mockup .tool-page .page-after .after-second .page-body .page-info .page-txt:nth-child(4)::before {
  content: "8";
}
.mockup .tool-page .page-after .page-mockup-video {
  height: 660px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 80px auto 0 auto;
  display: block;
}
.mockup .tool-page .page-after .page-mockup-video video {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.mockup .travelTicket-page,
.mockup .trainMember-page {
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
}
.mockup .page-card {
  width: -moz-fit-content;
  width: fit-content;
}
.mockup .page-card .badge {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--black-400);
  font-size: 18px;
  font-weight: 400;
  padding: 8px 18px;
  border-radius: 25px;
  margin: 24px auto;
}
.mockup .page-card .page-info {
  font-family: "Noto Sans TC", sans-serif;
  border: 1px solid var(--black-400);
  font-size: 16px;
  text-align: center;
  line-height: 1.7;
  color: var(--black-500);
  background-color: var(--background-gray);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  margin: 24px auto 0 auto;
}
.mockup .page-card .after-wrapper .page-mockup-video {
  height: 484px;
  width: 242px;
}
.mockup .page-card .after-wrapper .page-mockup-video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mockup .page-card .after-wrapper .badge {
  background-color: var(--metro-green);
  padding: 8px 24px;
  margin: 0 auto 28px auto;
}
.mockup .page-card .after-wrapper .page-info {
  background-color: var(--white);
  font-weight: 400;
}
.mockup .page-card .before-wrapper {
  margin-left: 16px;
}
.mockup .page-card .before-wrapper .page-title {
  margin: 0 auto;
}
.mockup .page-card .before-wrapper .page-title .arrow4-icon {
  margin-right: 16px;
}
.mockup .page-card .before-wrapper .page-title .arrow4-icon i:nth-of-type(1) {
  color: var(--black-200);
}
.mockup .page-card .before-wrapper .page-title .arrow4-icon i:nth-of-type(2) {
  color: var(--black-300);
}
.mockup .page-card .before-wrapper .page-title .arrow4-icon i:nth-of-type(3) {
  color: var(--black-400);
}
.mockup .page-card .before-wrapper .page-title .arrow4-icon i:nth-of-type(4) {
  color: var(--black-500);
}
.mockup .page-card .before-wrapper .page-before-img {
  height: 436px;
  width: 208px;
  margin-right: -8px;
}
.mockup .page-card .before-wrapper .page-before-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mockup .page-card .before-wrapper .page-info {
  border: 1px solid var(--black-300);
}
.mockup .even-card {
  margin-left: 100px;
}

.hero-area {
  margin-left: auto;
  margin-right: auto;
}
.hero-area .design-phase {
  margin-top: 0;
}
.hero-area .design-phase .prototype {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
}
.hero-area .design-phase .prototype .full-img {
  background: url("/img/project/UIUX/Metro/prototype.jpg") center/cover no-repeat;
}
.hero-area .design-phase .design-system {
  overflow-x: hidden;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteP {
  color: var(--white);
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteP .palette-first {
  background-color: #39af37;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteP .palette-second {
  background-color: #009c77;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteP .palette-third {
  background-color: #008480;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteS {
  color: var(--white);
  position: absolute;
  top: 32px;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteS .palette-first {
  background-color: #59a9db;
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteS .palette-second {
  background-color: #017ab1;
  color: var(--white);
}
.hero-area .design-phase .design-system .color-type-design .color-left #paletteS .palette-third {
  background-color: #004d79;
}
.hero-area .design-phase .design-system .color-type-design .type-right .type-content img {
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-area .design-phase .design-system .color-type-design .type-right #typetxtS {
  position: absolute;
  top: 26px;
}
.hero-area .design-phase .design-system .system-img .full-img {
  background: url("/img/project/UIUX/Metro/designSystem.png") center/cover no-repeat;
}

.pj-headline .headline-typing::before {
  animation: opacity0 2.8s, typingH 0.7s 2.8s;
}
.pj-headline .text-typing-block::before {
  animation: opacity0 2.8s, blink 1s 2.8s linear;
}
.pj-headline .headline-content {
  animation: opacity0 3.5s;
}

.pj-body .body-typing::before {
  animation: opacity0 3.5s, typingP 0.95s 3.5s;
}
.pj-body .text-typing-block::before {
  animation: opacity0 3.5s, blink 1.25s 3.5s linear;
}
.pj-body .body-content {
  animation: opacity0 4.45s;
}

.slide-wrapper {
  animation: opacity0 4.45s, slideInR 1s 4.45s;
}

.intro-area,
.forward-area {
  animation: opacity0 4.45s, fadeIn 1s 4.45s;
}

@keyframes typingH {
  0% {
    content: "台";
    color: var(--black-600);
  }
  20% {
    content: "台北";
    color: var(--black-600);
  }
  40% {
    content: "台北捷";
    color: var(--black-600);
  }
  60% {
    content: "台北捷運";
    color: var(--black-600);
  }
  80% {
    content: "台北捷運G";
    color: var(--black-600);
  }
  100% {
    content: "台北捷運Go";
    color: var(--black-600);
  }
}
@keyframes typingP {
  0% {
    content: "{";
    color: var(--black-600);
  }
  9.09% {
    content: "{ 交";
    color: var(--black-600);
  }
  18.18% {
    content: "{ 交通";
    color: var(--black-600);
  }
  27.27% {
    content: "{ 交通資";
    color: var(--black-600);
  }
  36.36% {
    content: "{ 交通資訊";
    color: var(--black-600);
  }
  45.45% {
    content: "{ 交通資訊大";
    color: var(--black-600);
  }
  54.54% {
    content: "{ 交通資訊大平";
    color: var(--black-600);
  }
  63.63% {
    content: "{ 交通資訊大平臺";
    color: var(--black-600);
  }
  72.72% {
    content: "{ 交通資訊大平臺 A";
    color: var(--black-600);
  }
  81.81% {
    content: "{ 交通資訊大平臺 AP";
    color: var(--black-600);
  }
  90.9% {
    content: "{ 交通資訊大平臺 APP";
    color: var(--black-600);
  }
  99.99% {
    content: "{ 交通資訊大平臺 APP }";
    color: var(--black-600);
  }
}
@keyframes blink {
  0%, 90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes BTTarrow {
  0% {
    top: 6px;
  }
  30% {
    top: 12px;
  }
  100% {
    top: -24px;
  }
}
@keyframes opacity0 {
  0%, 100% {
    opacity: 0;
  }
}
@keyframes slideInR {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media screen and (max-width: 1440px) {
  .forward-area .forward-wrapper .forword-img {
    min-width: 336px;
    height: 336px;
  }
}
@media screen and (max-width: 1399px) {
  .hero-area .empathy-phase .user-review .review-groups .review-content .odd-review-card {
    margin-right: 32px;
    max-width: 460px;
  }
  .mockup .main-page .page-after .page-after-img {
    margin-right: 16px;
    height: 588px;
  }
  .mockup .main-page .page-after .page-wrapper .page-info {
    width: 210px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .mockup .main-page .page-before {
    padding-bottom: 12px;
  }
  .mockup .main-page .page-before .page-before-img {
    margin-left: 44px;
    height: 518px;
  }
  .mockup .main-page .page-before .page-info {
    width: 220px;
    margin-left: 24px;
  }
  .mockup .tool-page .page-title {
    width: 1116px;
  }
  .mockup .tool-page .page-before .page-body {
    width: 1116px;
  }
  .mockup .tool-page .page-before .page-before-img {
    width: 1116px;
  }
  .mockup .tool-page .page-after {
    width: 1116px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-after-img {
    height: 563px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body {
    margin-left: 24px;
  }
  .mockup .tool-page .page-after .after-second .page-body {
    margin: auto 24px auto 0;
  }
}
@media screen and (max-width: 1280px) {
  .forward-area .forward-wrapper .forword-img {
    min-width: 300px;
  }
  .forward-area .forward-wrapper .forword-img img {
    width: 110%;
    -o-object-position: 55% 50%;
       object-position: 55% 50%;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars {
    height: auto;
    padding-left: 6px;
  }
}
@media screen and (max-width: 1199px) {
  .forward-area .forward-wrapper .forword-img {
    min-width: 240px;
    height: 100%;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(1) .odd-review-card {
    width: 640px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content .odd-review-card {
    margin-right: 24px;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars {
    display: flex;
    align-items: end;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars img {
    width: 95%;
    height: 95%;
  }
  .mockup .main-page .page-before .page-before-img {
    margin-left: 26px;
    height: 442px;
  }
  .mockup .main-page .page-before .page-info {
    width: 160px;
    margin-left: 24px;
  }
  .mockup .main-page .page-after {
    width: 55%;
  }
  .mockup .main-page .page-after .page-after-img {
    height: 534px;
  }
  .mockup .main-page .page-after .page-wrapper .page-info {
    width: 180px;
    margin-right: 24px;
  }
  .mockup .tool-page .page-title {
    width: 936px;
  }
  .mockup .tool-page .page-before .page-body {
    width: 936px;
  }
  .mockup .tool-page .page-before .page-before-img {
    width: 936px;
  }
  .mockup .tool-page .page-after {
    width: 936px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .page-info {
    width: 170px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-after-img {
    height: 498px;
  }
  .mockup .even-card {
    margin-left: 68px;
  }
  .mockup .page-card .before-wrapper .page-before-img {
    width: 200px;
    height: 420px;
  }
  .mockup .page-card .after-wrapper .page-mockup-video {
    height: 460px;
    width: 230px;
  }
  .mockup .page-card .after-wrapper .badge {
    margin-bottom: 38px;
  }
}
@media screen and (max-width: 991px) {
  .hero-area {
    margin-left: 24px;
    margin-right: 24px;
  }
  .hero-area .empathy-phase .user-review {
    margin: 72px 0 -12px 0;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(1) .odd-review-card {
    width: 600px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content .review-card {
    padding: 24px;
  }
  .mockup {
    width: auto;
    margin-top: 60px;
    overflow: hidden;
  }
  .mockup .pj-body {
    margin: 0 24px;
  }
  .mockup .main-page {
    flex-direction: column;
    position: relative;
    margin-top: 134px;
  }
  .mockup .main-page .page-before {
    width: auto;
    padding: 32px 0;
  }
  .mockup .main-page .page-before .page-before-img {
    margin-left: auto;
    height: 450px;
  }
  .mockup .main-page .page-before .page-info {
    width: 230px;
    margin: auto auto auto 24px;
  }
  .mockup .main-page .page-after {
    width: auto;
    order: 2;
    margin: 32px 0 0 0;
  }
  .mockup .main-page .page-after .page-after-img {
    margin-right: auto;
  }
  .mockup .main-page .page-after .page-wrapper .page-title {
    position: absolute;
    top: -54px;
    left: 50%;
    transform: translateX(-50%);
  }
  .mockup .main-page .page-after .page-wrapper .page-title .arrow4-icon {
    transform: rotate(90deg);
    margin: 0 8px;
  }
  .mockup .main-page .page-after .page-wrapper .page-title .arrow4-icon i {
    font-size: 16px;
  }
  .mockup .main-page .page-after .page-wrapper .page-title .arrow4-icon i:nth-of-type(2) {
    display: none;
  }
  .mockup .main-page .page-after .page-wrapper .page-title .arrow4-icon i:nth-of-type(4) {
    display: none;
  }
  .mockup .main-page .page-after .page-wrapper .page-info {
    margin: auto 32px auto auto;
    width: 225px;
  }
  .mockup .tool-page .page-title {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
  }
  .mockup .tool-page .page-title .arrow4-icon {
    transform: rotate(90deg);
    margin: 0 8px;
  }
  .mockup .tool-page .page-title .arrow4-icon i {
    font-size: 16px;
  }
  .mockup .tool-page .page-title .arrow4-icon i:nth-of-type(2) {
    display: none;
  }
  .mockup .tool-page .page-title .arrow4-icon i:nth-of-type(4) {
    display: none;
  }
  .mockup .tool-page .page-before {
    margin: 32px 0 0 0;
    padding: 0;
  }
  .mockup .tool-page .page-before .page-body {
    margin: 0;
    padding: 32px 24px 0 24px;
  }
  .mockup .tool-page .page-before .page-before-img {
    margin: 0;
    padding: 24px 24px 32px 24px;
    width: auto;
  }
  .mockup .tool-page .page-after {
    width: auto;
    margin-top: 32px;
  }
  .mockup .tool-page .page-after .after-wrapper {
    margin: 0 24px;
    flex-direction: column;
  }
  .mockup .tool-page .page-after .after-wrapper .page-after-img {
    width: auto;
    height: -moz-fit-content;
    height: fit-content;
    order: 2;
    margin-right: -8px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-after-img img {
    width: 100%;
    height: 100%;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body {
    margin: 0 0 24px 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .after {
    margin: auto 24px auto 0;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .page-info {
    width: auto;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: none;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt {
    height: -moz-fit-content;
    height: fit-content;
    width: 48%;
    margin-bottom: 0;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-of-type(3), .mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-of-type(4) {
    margin-top: 12px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-of-type(2), .mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-of-type(4) {
    margin-left: 12px;
  }
  .mockup .tool-page .page-after .after-second {
    margin-top: 32px;
  }
  .mockup .travelTicket-page {
    flex-direction: column;
    align-items: center;
  }
  .mockup .trainMember-page {
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
  }
  .mockup .page-card {
    align-items: end;
  }
  .mockup .page-card .after-wrapper .badge {
    margin-bottom: 32px;
  }
  .mockup .page-card .after-wrapper .page-mockup-video {
    height: 484px;
    width: 242px;
  }
  .mockup .page-card .before-wrapper {
    height: -moz-fit-content;
    height: fit-content;
  }
  .mockup .page-card .before-wrapper .page-before-img {
    width: 208px;
    height: 436px;
  }
  .mockup .even-card {
    margin: 80px 0 0 0;
  }
  .hero-area .design-phase .prototype {
    margin-top: 40px;
  }
}
@media screen and (max-width: 899px) {
  .hero-area .empathy-phase .user-review .review-groups .review-content .review-card {
    padding: 16px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content .review-card .review-title {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content .review-card .review-txt,
  .hero-area .empathy-phase .user-review .review-groups .review-content .review-card .star-icons {
    font-size: 16px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(1) {
    margin-bottom: 24px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(1) .odd-review-card {
    max-width: 300px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(2) .odd-review-card {
    max-width: 380px;
  }
}
@media screen and (max-width: 860px) {
  .mockup .tool-page .page-after .after-wrapper:nth-of-type(2) .page-body .page-info .page-txt::before {
    line-height: 20px;
  }
}
@media screen and (max-width: 780px) {
  .mockup .tool-page .page-before .page-body .page-txt {
    margin-left: 16px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .after {
    margin: auto 16px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(1) .odd-review-card {
    max-width: 280px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(2) .odd-review-card {
    max-width: 300px;
  }
  .hero-area .empathy-phase .personas .pj-body .br {
    display: none;
  }
}
@media screen and (max-width: 699px) {
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(2) .odd-review-card {
    width: 480px;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars {
    padding: 0;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars img {
    width: 90%;
    height: 90%;
  }
}
@media screen and (max-width: 670px) {
  .hero-area .empathy-phase .user-review .review-groups .review-content {
    flex-direction: column;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(1) {
    margin-bottom: 24px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(1) .odd-review-card {
    width: auto;
    margin: 0 0 24px 0;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content:nth-of-type(2) .odd-review-card {
    width: auto;
    margin: 0 0 24px 0;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content .odd-review-card {
    min-width: 100%;
    width: auto;
    margin-bottom: 24px;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content .even-review-card {
    width: auto;
  }
  .hero-area .empathy-phase .user-review .review-groups .review-content .review-card .star-icons {
    margin-bottom: 12px;
  }
  .hero-area .empathy-phase .personas .personas-card {
    position: relative;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars {
    min-width: 22%;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars img {
    width: 100%;
    height: 80%;
    margin: 0 0 28px 4px;
  }
  .hero-area .empathy-phase .personas .personas-card .personas-content .personas-body {
    padding-bottom: 41px;
  }
  .hero-area .empathy-phase .personas .personas-card .personas-content .personas-point {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .mockup {
    margin-top: 42px;
  }
  .mockup .tool-page .page-before {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .mockup .tool-page .page-before .page-body {
    flex-direction: column;
    align-items: start;
    width: auto;
    order: 2;
    padding: 0 24px 32px 24px;
  }
  .mockup .tool-page .page-before .page-body .badge {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
  .mockup .tool-page .page-before .page-body .page-txt {
    margin: 0;
    width: 100%;
  }
  .mockup .tool-page .page-before .page-before-img {
    padding-top: 82px;
  }
  .mockup .tool-page .page-after .after-first .page-body {
    flex-direction: column;
  }
  .mockup .tool-page .page-after .after-first .page-body .badge {
    margin: 0 auto 24px auto;
  }
  .hero-area .design-phase .prototype {
    margin-top: 40px;
  }
}
@media screen and (max-width: 640px) {
  .mockup .page {
    margin-top: 80px;
  }
  .mockup .main-page {
    margin-top: 114px;
  }
  .mockup .main-page .page-before {
    padding: 24px 0;
  }
  .mockup .main-page .page-after {
    margin: 24px 0 0 0;
  }
  .mockup .tool-page .page-after {
    margin-top: 24px;
  }
  .mockup .tool-page .page-after .page-mockup-video {
    margin-top: 60px;
  }
  .mockup .tool-page .page-before {
    margin: 24px 0 0 0;
  }
  .mockup .tool-page .page-before .page-before-img {
    padding-bottom: 24px;
  }
  .mockup .tool-page .page-before .page-body {
    padding-bottom: 24px;
  }
  .mockup .even-card {
    margin-top: 60px;
  }
  .mockup .trainMember-page {
    margin-top: 60px;
  }
  .mockup .page-card .before-wrapper .page-before-img {
    height: 414px;
    width: 197px;
  }
  .mockup .page-card .after-wrapper .page-mockup-video {
    height: 460px;
    width: 230px;
  }
  .hero-area .design-phase .prototype {
    margin-top: 38px;
  }
}
@media screen and (max-width: 620px) {
  .hero-area .empathy-phase .personas .personas-card .avatars {
    min-width: 40%;
    height: 200px;
    border-right: none;
    margin: 0 auto;
    overflow: hidden;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars img {
    margin: 0;
    width: 40%;
    height: 100%;
    -o-object-position: 50% 10%;
       object-position: 50% 10%;
  }
  .hero-area .empathy-phase .personas .personas-card .personas-content {
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: 100%;
  }
  .hero-area .empathy-phase .personas .personas-card .personas-content .personas-body {
    border-top: 1px solid var(--black-400);
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin: 0;
  }
  .hero-area .empathy-phase .personas .personas-card .personas-content .personas-body ul {
    margin: 14px 16px;
  }
}
@media screen and (max-width: 576px) {
  .mockup .main-page {
    margin-top: 94px;
  }
  .mockup .main-page .page-before .page-before-img {
    height: 424px;
  }
  .mockup .main-page .page-before .page-info {
    width: 180px;
    margin-top: 80px;
  }
  .mockup .main-page .page-after .page-after-img {
    height: 468px;
  }
  .mockup .main-page .page-after .page-wrapper .page-info {
    width: 180px;
    margin: 90px 32px auto 0;
  }
  .mockup .tool-page .page-after .page-mockup-video {
    height: 600px;
  }
  .mockup .page-card .before-wrapper .page-before-img {
    height: 414px;
    width: 197px;
  }
  .mockup .page-card .after-wrapper .page-mockup-video {
    height: 460px;
    width: 230px;
  }
}
@media screen and (max-width: 540px) {
  .intro-area .pj-info .pj-sideinfo {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .intro-area .pj-info .pj-sideinfo .info-card-title {
    margin-right: 10px;
  }
  .intro-area .pj-info .pj-sideinfo ul li {
    flex-direction: column;
  }
  .intro-area .pj-info .pj-sideinfo ul li .body {
    margin-top: 4px;
  }
  .intro-area .pj-info .pj-sideinfo ul li:not(:first-child) {
    margin-top: 4px;
  }
}
@media screen and (max-width: 490px) {
  .hero-area {
    margin-left: 12px;
    margin-right: 12px;
  }
  .mockup {
    padding: 0;
    overflow: hidden;
  }
  .mockup .pj-body {
    margin: 0 12px;
  }
  .mockup .page .page-img .img-modal .modal .modal-dialog .modal-header {
    padding: 12px;
  }
  .mockup .page .page-img .img-modal .modal .modal-dialog .modal-header .btn-close {
    font-size: 16px;
  }
  .mockup .page .page-img .img-modal .modal .modal-dialog .modal-body {
    padding: 12px;
  }
  .mockup .page .page-img .img-modal .modal .modal-dialog .modal-body .modal-img .img {
    height: 100%;
    width: 100%;
  }
  .mockup .main-page .page-before .page-info {
    width: 160px;
    margin-left: 12px;
  }
  .mockup .main-page .page-after .page-after-img {
    margin-left: 16px;
  }
  .mockup .main-page .page-after .page-wrapper .page-info {
    width: 150px;
    box-shadow: none;
    margin: auto 0 6px auto;
  }
  .mockup .main-page .page-info::before {
    top: -48px;
  }
  .mockup .main-page .page-info .page-txt:nth-child(2) {
    margin: 16px 0;
  }
  .mockup .tool-page {
    width: auto;
  }
  .mockup .tool-page .page-before .page-body {
    padding: 0 12px 24px 12px;
  }
  .mockup .tool-page .page-before .page-before-img {
    padding: 82px 12px 24px 12px;
  }
  .mockup .tool-page .page-after {
    width: 100%;
  }
  .mockup .tool-page .page-after .after-wrapper {
    margin: 0 12px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .page-info {
    flex-direction: column;
    width: 100%;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt {
    width: 100%;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-of-type(2), .mockup .tool-page .page-after .after-wrapper .page-body .page-info .page-txt:nth-of-type(4) {
    margin: 12px 0 0 0;
  }
  .mockup .tool-page .page-after .after-wrapper .page-after-img {
    margin: 0;
  }
  .mockup .tool-page .page-after .after-second {
    margin-top: 42px;
  }
  .mockup .page-card .before-wrapper {
    height: auto;
  }
  .mockup .page-card .before-wrapper .badge {
    margin: 40px auto 24px auto;
  }
  .mockup .page-card .before-wrapper .page-before-img {
    width: 190px;
    height: 398px;
  }
}
@media screen and (max-width: 470px) {
  .hero-area .empathy-phase .personas .personas-card .personas-content {
    height: -moz-fit-content;
    height: fit-content;
  }
  .hero-area .empathy-phase .personas .personas-card .personas-content .personas-point {
    display: none !important;
  }
  .hero-area .empathy-phase .personas .personas-card .personas-content .personas-body {
    min-height: 120px;
    padding: 0;
  }
  .hero-area .empathy-phase .personas .personas-card .personas-content .personas-body ul {
    margin: 12px;
  }
  .hero-area .empathy-phase .personas .personas-card .avatars {
    height: 160px;
  }
  .mockup .main-page .page-before {
    flex-direction: column;
    position: relative;
  }
  .mockup .main-page .page-before::before {
    content: "Before";
    font-size: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 16px;
    padding: 8px 18px;
    background-color: var(--black-400);
    color: var(--white);
    border-radius: 25px;
  }
  .mockup .main-page .page-before .page-before-img {
    margin: 56px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
  }
  .mockup .main-page .page-before .page-info {
    width: auto;
    margin: 24px 12px 0 12px;
  }
  .mockup .main-page .page-before .page-info::before {
    display: none;
  }
  .mockup .main-page .page-before .page-info .page-txt:nth-child(2) {
    margin: 12px 0;
  }
  .mockup .main-page .page-after {
    flex-direction: column;
  }
  .mockup .main-page .page-after .page-after-img {
    margin: 56px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    position: relative;
  }
  .mockup .main-page .page-after .page-after-img::before {
    content: "After";
    font-size: 16px;
    line-height: 16px;
    padding: 8px 24px;
    border-radius: 25px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: var(--metro-green);
    color: var(--white);
    position: absolute;
    top: -56px;
  }
  .mockup .main-page .page-after .page-wrapper {
    order: 2;
  }
  .mockup .main-page .page-after .page-wrapper .page-info {
    width: auto;
    margin: 24px 12px 0 12px;
  }
  .mockup .main-page .page-after .page-wrapper .page-info::before {
    display: none;
  }
  .mockup .main-page .page-after .page-wrapper .page-info .page-txt:nth-child(2) {
    margin: 12px 0;
  }
  .mockup .main-page .page-after .page-wrapper .page-title {
    padding-left: 16px;
    top: -46px;
  }
  .mockup .tool-page .page-before {
    margin-top: 16px;
  }
  .mockup .tool-page .page-before .page-body .badge {
    font-size: 16px;
  }
  .mockup .tool-page .page-after .after-wrapper .page-body .badge {
    font-size: 16px;
  }
  .mockup .page-card {
    flex-direction: column;
  }
  .mockup .page-card .after-wrapper {
    order: 2;
    margin: 0 auto;
  }
  .mockup .page-card .after-wrapper .page-mockup-video {
    height: 484px;
    width: 242px;
  }
  .mockup .page-card .after-wrapper .badge {
    margin-bottom: 24px;
    font-size: 16px;
  }
  .mockup .page-card .before-wrapper {
    background-color: var(--black-200);
    width: 100vw;
    margin: 0 0 30px 0;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mockup .page-card .before-wrapper .page-title {
    position: absolute;
    top: -46px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 16px;
  }
  .mockup .page-card .before-wrapper .page-title .arrow4-icon {
    transform: rotate(-90deg);
    order: 2;
    margin: 0 8px;
  }
  .mockup .page-card .before-wrapper .page-title .arrow4-icon i {
    font-size: 16px;
  }
  .mockup .page-card .before-wrapper .page-title .arrow4-icon i:nth-of-type(1) {
    display: none;
  }
  .mockup .page-card .before-wrapper .page-title .arrow4-icon i:nth-of-type(3) {
    display: none;
  }
  .mockup .page-card .before-wrapper .badge {
    margin: 0 auto;
    font-size: 16px;
  }
  .mockup .page-card .before-wrapper .page-before-img {
    margin: 24px auto 0 auto;
  }
  .mockup .travel-page,
  .mockup .ticket-page,
  .mockup .train-page,
  .mockup .member-page {
    margin-top: 126px;
  }
  .mockup .trainMember-page,
  .mockup .travelTicket-page {
    margin-top: 0;
  }
}
@media screen and (max-width: 458px) {
  .mockup .main-page .page-after .page-wrapper .page-title .title {
    font-size: 22px;
  }
  .mockup .main-page .page-after .page-wrapper .page-title .arrow4-icon i {
    font-size: 14px;
  }
  .mockup .tool-page .page-title .title {
    font-size: 22px;
  }
  .mockup .tool-page .page-title .arrow4-icon i {
    font-size: 14px;
  }
  .mockup .page-card .before-wrapper .page-title {
    margin-left: 12px;
  }
  .mockup .page-card .before-wrapper .page-title .title {
    font-size: 22px;
  }
  .mockup .page-card .before-wrapper .page-title .arrow4-icon {
    margin: 0 0 0 2px;
  }
  .mockup .page-card .before-wrapper .page-title .arrow4-icon i {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  .mockup .tool-page .page-after .page-mockup-video {
    height: 500px;
  }
}
@media screen and (max-width: 356px) {
  .intro-area .pj-info .pj-sideinfo {
    width: auto;
  }
  .mockup .tool-page .page-title .arrow4-icon {
    display: none;
  }
}/*# sourceMappingURL=metro.css.map */