// headline
.project-info {
  .pj-headline {
    .headline-typing::before {
      content: "Gpa Calculator";
    }
  }
  .pj-body {
    .body-typing::before {
      content: "{ 成績計算網站 }";
    }
  }
}

.forward-area {
  .forward-wrapper {
    max-width: 1440px;
    width: 1440px;
  }
}

// animate
.pj-headline {
  .headline-typing::before {
    animation: opacity0 2.8s, typingH 1s 2.8s;
  }
  .text-typing-block::before {
    animation: opacity0 2.8s, blink 1.3s 2.8s linear;
  }
  .headline-content {
    animation: opacity0 3.8s;
  }
}
.pj-body {
  .body-typing::before {
    animation: opacity0 3.8s, typingP 0.7s 3.8s;
  }
  .text-typing-block::before {
    animation: opacity0 3.8s, blink 1s 3.8s linear;
  }
  .body-content {
    animation: opacity0 4.5s;
  }
}
.slide-wrapper {
  animation: opacity0 4.5s, slideInR 1s 4.5s;
}
.intro-area,
.forward-area {
  animation: opacity0 4.5s, fadeIn 1s 4.5s;
}

// Typewriter effect
@keyframes typingH {
  0% {
    content: "G";
    color: var(--black-600);
  }
  8.3% {
    content: "Gp";
    color: var(--black-600);
  }
  16.6% {
    content: "Gpa";
    color: var(--black-600);
  }
  24.9% {
    content: "Gpa C";
    color: var(--black-600);
  }
  33.2% {
    content: "Gpa Ca";
    color: var(--black-600);
  }
  41.5% {
    content: "Gpa Cal";
    color: var(--black-600);
  }
  49.8% {
    content: "Gpa Calc";
    color: var(--black-600);
  }
  58.1% {
    content: "Gpa Calcu";
    color: var(--black-600);
  }
  66.4% {
    content: "Gpa Calcul";
    color: var(--black-600);
  }
  74.7% {
    content: "Gpa Calcula";
    color: var(--black-600);
  }
  83% {
    content: "Gpa Calculat";
    color: var(--black-600);
  }
  91.3% {
    content: "Gpa Calculato";
    color: var(--black-600);
  }
  99.6% {
    content: "Gpa Calculator";
    color: var(--black-600);
  }
  // Gpa Calculator - 12
}
@keyframes typingP {
  0% {
    content: "{";
    color: var(--black-600);
  }
  16.6% {
    content: "{ 成";
    color: var(--black-600);
  }
  33.2% {
    content: "{ 成績";
    color: var(--black-600);
  }
  49.8% {
    content: "{ 成績計";
    color: var(--black-600);
  }
  66.4% {
    content: "{ 成績計算";
    color: var(--black-600);
  }
  83% {
    content: "{ 成績計算網";
    color: var(--black-600);
  }
  99.6% {
    content: "{ 成績計算網 }";
    color: var(--black-600);
  }
  // 成績計算網 - 6
}
@keyframes blink {
  0%,
  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes BTTarrow {
  0% {
    top: 6px;
  }
  30% {
    top: 12px;
  }
  100% {
    top: -24px;
  }
}
@keyframes opacity0 {
  0%,
  100% {
    opacity: 0;
  }
}
@keyframes slideInR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
}

// RWD
@media screen and (max-width: 1920px) {
  .forward-area {
    .forward-wrapper {
      .forword-img {
        height: 366px;
      }
      .forword-txt {
        margin-right: 60px;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .forward-area {
    .forward-wrapper {
      max-width: 1440px;
      width: 1440px;
      .forword-img {
        min-width: 330px;
        width: 330px;
        height: 330px;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .forward-area {
    .forward-wrapper {
      .forword-img {
        min-width: 300px;
        width: 300px;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .forward-area {
    .forward-wrapper {
      .forword-img {
        min-width: 240px;
        width: 240px;
      }
    }
  }
}
@media screen and (max-width: 1030px) {
  .forward-area {
    .forward-wrapper {
      .forword-txt {
        margin: 0 auto;
      }
    }
  }
}
//
@media screen and (max-width: 640px) {
  .intro-area {
    .pj-info {
      flex-direction: column;
      position: relative;
      .pj-sideinfo {
        max-width: 190px;
      }
      .pj-para {
        margin: 24px 0 0 0;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .intro-area {
    .pj-info {
      .pj-sideinfo {
        ul {
          li {
            flex-direction: row;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .intro-area {
    .pj-info {
      .pj-para {
        .link-groups {
          left: 206px;
          .pj-link {
            margin-right: 0;
          }
        }
      }
    }
  }
}
//
@media screen and (max-width: 390px) {
  .intro-area {
    .pj-info {
      .pj-sideinfo {
        .info-card-title {
          .sideicon {
            margin-left: 10px;
          }
        }
        .info-card-content {
          margin: 10px;
          padding-left: 10px;
        }
      }
      .pj-para {
        .link-groups {
          left: 214px;
        }
      }
    }
  }
}
@media screen and (max-width: 340px) {
  .intro-area {
    .pj-info {
      .pj-para {
        .link-groups {
          left: 204px;
        }
      }
    }
  }
}
